@import "../mixins";

// Article
//
// A class for styling text and image articles, used for project pages
// currently.
//
// Markup:
// <section class="article">
//   <div class="text-block">
//     <h3>Some heading</h3>
//     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sem mauris
//      , tempor eget pretium at, interdum id ante. Donec a consectetur orci.
//      Nullam in neque vel libero interdum egestas. Donec laoreet dui eu
//        consequat laoreet.
//     </p>
//   </div>
// </section>
//
// Styleguide modules.article
.article {
  .text-block {
    @include inset--md;
    margin-top: 4em;
    margin-bottom: 5em;
  }

  h1, h2, h3, h4, h5 {
    @include inset--md;

    & + .text-block {
      margin-top: 0;
    }
  }

  &:last-child {
    .text-block {
      margin-bottom: 0;
    }
  }
}
