/*
 * Article
 *
 * A class for styling text and image articles, used for project pages
 * currently.
 */

@import "../mixins";

.article {
  .text-block {
    @include inset--md;
    margin-top: 4em;
    margin-bottom: 5em;
  }

  h1, h2, h3, h4, h5 {
    @include inset--md;

    & + .text-block {
      margin-top: 0;
    }
  }

  &:last-child {
    .text-block {
      margin-bottom: 0;
    }
  }
}
