// Discover
//
// The discover module, a js/css module for finding sorted and categorized
// information.
//
// Markup:
// <div class="discover">
//   <aside class="discover__aside--lg">
//     <h2>Side content</h2>
//     <p>Suspendisse ullamcorper gravida dolor in efficitur. Curabitur eget
//      ipsum vel urna eleifend viverra. Curabitur vitae ligula quis orci
//      vehicula ultricies vitae sit amet velit.</p>
//   </aside>
// </div>
//
// Styleguide modules.discover
.discover {

  .discover__aside {
    padding-left: 10%;
  }
  .discover__aside--lg {
    padding-left: 8%;

    @include media($sm) {
      margin-bottom: -2em;
      padding-top: 1.5em;
    }
  }
}
