/*
 * Logo
 */

@import '../mixins';

.logo {
  margin-top: .45em;
  .logo__text {
    @include font-size(3.5);
    font-family: 'Georgia';
    font-weight: 100;
    @include media($sm) {
      padding-top: .5em;
    }
    a {
      text-decoration: none;
    }
  }
  .logo__suplementary {
    font-weight: $weight-light;
    overflow: elipsis;
    padding-bottom: .4em;
    padding-top: .4em;
    vertical-align: baseline;
  }
}

.logo__img {
  @include media($sm) {
    vertical-align: top;
  }
}
