<div class="u-clearfix island island--primary" id="amount-form" style="clear: both">
  <form method="post" class="form_hide--radio" action="#amount-form">
    {% csrf_token %}
    <fieldset class="bubble_form">
      <legend class="t-title--1 t-nom">Give to this project</legend>
      {% if IS_PROJECT %}
        <span class="t-title--2">{{ humanize_cents(account.remaining()) }}
          to meet goal</span>
      {% endif %}
      <p class="t-title--5 t--white" style="text-align: left">
        Choose an amount</p>
      {% if not account.funded() %}
        <div class="inline_grid--15 island__content">
            <label class="bubble bubble--primary
                          bubble--bordered bubble--square">
              <span class="bubble__content" style="left: 10%">
                <strong>$</strong>
              </span>
              {{ donate_form.payment_amount }}
            </label>
        </div>
      {% endif %}
    </fieldset>
    {% if donate_form.payment_amount.errors %}
      <div class="bubble--white section__content--contain--sm">
        {{ donate_form.payment_amount.errors }}
      </div>
    {% endif %}
    <button class="button button--white" style="margin-top: 1em;">
      {% if account.funded() %}
        Donate to Help Similar Projects
      {% else %}
        Continue
      {% endif %}
    </button>
  </form>
</div>
