{# We need to have the custom amount visible if displaying an error message or
similar. In that situation, we reverse the initial states for the form #}
{% if donate_form.errors or donate_form.payment_amount.value() %}
  {% set startHidden="js-showForJSUsers" %}
  {% set startShown="js-hideForJSUsers" %}
{% else %}
  {% set startHidden="js-hideForJSUsers" %}
  {% set startShown="js-showForJSUsers" %}
{% endif %}
<div class="u-clearfix island island--primary" id="amount-form" style="clear: both">
  {% if project %}
    {% set form_url = url('project form', slug=project.slug) %}
  {% else %}
    {% set form_url = url('campaign form', slug=campaign.slug) %}
  {% endif %}
  <form action="{{ form_url }}" class="js-form">
    <fieldset class="bubble_form">
      <legend class="isolate">
        <span class="t-title--1 t-nom t--white">Give to this
        {% if project %}project{% else %}fund{% endif %}</span>
        {% if account.goal %}
          <div class="t-heading--2 t--white">{{ humanize_cents(account.remaining()) }}
            to meet goal</div>
        {% endif %}
      </legend>
      {% if not account.funded() %}
             {# start open for non-JS users #}
        <div aria-hidden="false"
             {# starts hidden for JS users #}
             class="{{startHidden}} js-formSwitch uo-h_center--multiple"
             {# appears when control state is true #}
             data-switch-on="true" data-switch-id="collapsible-customamount">
          <strong class="bubble_form--x-large">$</strong>
            {{ donate_form.payment_amount }}
        </div>
             {# starts hidden for non-JS users #}
        <div aria-hidden="true"
             {# starts shown for JS users #}
             class="js-buttons js-formSwitch {{ startShown }}
                uo-h_center--multiple"
             {# appears when control state is false #}
             data-switch-on="false" data-switch-id="collapsible-customamount">
          <p class="uo-align_l t--white t-title--5">
            Choose an amount:</p>
          <div class="uo-h_center__content column nested_column--md_fourth
              island__content">
            <a class="bubble bubble--primary bubble--bordered
                      bubble--square"
               href="{{ form_url }}?payment_amount=50">
                <span class="bubble__content t-title--1">$50</span>
            </a>
          </div>
          <div class="column uo-h_center__content
              nested_column--md_fourth island__content">
            <a class="bubble bubble--primary bubble--bordered
                      bubble--square"
               href="{{ form_url }}?payment_amount=100">
                <span class="bubble__content t-title--1">$100</span>
            </a>
          </div>
          <div class="uo-h_center__content column nested_column--md_fourth
              island__content">
            <a class="bubble bubble--primary bubble--bordered bubble--square"
                href="#"
                {# controls what's visible. Clicking sets the true state #}
                aria-controls="collapsible-customamount" data-set-state="true">
              <span class="bubble__content bubble_form--small">
                enter another amount</span>
            </a>
          </div>
        </div>
      {% endif %}
    </fieldset>
    {% if donate_form.payment_amount.errors %}
      <div class="bubble--white isolate section__content--sm t--error">
        {{ donate_form.payment_amount.errors }}
      </div>
    {% endif %}
         {# start visible for non-JS users #}
    <div aria-hidden="false"
         {# but hidden for JS users #}
         class="u-align_r {{startHidden}} js-formSwitch"
         {# visible when the state is true #}
         data-switch-on="true" data-switch-id="collapsible-customamount">
      <button class="button button--white" style="margin-top: 1em;">
        {% if account.funded() %}
          Donate to Help Similar Projects
        {% else %}
          Continue
        {% endif %}
      </button>
    </div>
         {# hidden for everyone initially #}
    <div class="u-align_l js-formSwitch {{startHidden}}" aria-hidden="true"
         {# visible when the state is true #}
         data-switch-on="true" data-switch-id="collapsible-customamount">
      <a href="#" class="t-link--white t-single_nav" data-set-state="false"
         aria-controls="collapsible-customamount">
      <i class="fa fa-angle-left icon icon--text"></i>
      Back</a>
    </div>
  </form>
</div>
