{% block top_most_banner %}
<section class="u-align_c t--white"
         style="background-color: #333; padding: 5%; ">
  <h2>Notice</h2>
  <p class="t-body--md t--white">
    Thank you for your interest in supporting the amazing work of our Peace Corps Volunteers! <br/>
    Please note, our trusted payment processor pay.gov will be upgrading their systems on <br/>
    <strong>Saturday, May 9, from 6:00pm – 12:00am EDT</strong> <br/>
    and during that time we will be unable to process your payment. 
  </p>
</section>
{% endblock %}

