{% from "donations/includes/macros.jinja" import volunteer_photo %}

<article class="u-clearfix">
  <div class="u-clearfix uo-h_center--multiple">
    <section class="u-align_c uo-h_center__content
        column nested_column--md_fourth">
      <div class="mask mask--oval mask--bordered u-h_center--block">
        {{ volunteer_photo(project) }}
      </div>
      {% if project.volunteerpicture %}
        <span class="t-body--md t--black">
          <strong>{{project.volunteername}}</strong><br>
          volunteer from <strong>{{project.volunteer_statename()}}</strong>
        </span>
      {% endif %}
    </section>
    <section class="u-align_c uo-h_center__content
        column nested_column--md_fourth">
      <div class="mask mask--oval mask--bordered u-h_center--block map">
        <img src="{{ static("peacecorps/img/countries/"
                            + project.country.code.lower() + ".svg") }}"
             class="mask__content" />
      </div>
        <span class="t-body--md t--black">
          in <strong>{{project.country.name}}</strong>
        </span>
    </section>
    {% if project.goal %}
    <section class="u-align_c uo-h_center__content
        column--fourth">
      {% set percent_raised = project.account.percent_raised() %}
      <div class="radialProgress u-h_center--block"
        {% if percent_raised < 50 %}
          {% set deg = 90 + (3.6 * percent_raised) %}
        style="background-image: linear-gradient(90deg, #F2EFE8 50%, transparent 50%, transparent), linear-gradient({{ deg }}deg, #A12122 50%, #F2EFE8 50%, #F2EFE8);"
        {% else %}
          {% set deg = -90 + (3.6 * (percent_raised - 50)) %}
        style="background-image: linear-gradient({{ deg }}deg, #A12122 50%, transparent 50%, transparent), linear-gradient(270deg, #A12122 50%, #F2EFE8 50%, #F2EFE8);"
        {% endif %}
      >
        <div class="radialProgress__overlay">
        </div>
      </div>
      <span class="t-body--md t--black">
        {{ humanize_cents(project.account.remaining()) }} needed to reach
        {{ humanize_cents(project.account.total_cost()) }} goal
      </span>
    </section>
    {% endif %}
  </div>
</article>
