<div class="full_bg full_bg--lg" style="
    background-image: url('{{project.featured_image.url}}');
  ">
</div>
<article>
  {# TODO Figure out way to remove these inlines to global css #}
  <section style="min-height: 38em; padding-top: 6em;">
    <section class="full_banner full_banner--support_color">
      <div class="showcase showcase--shift_sm">
        <h1 class="t-blurb t-blurb--lg">{{project.title}}</h1>
        <h2 class="t-blurb t-blurb--md">{{project.tagline}}</h2>
      </div>
    </section>
  </section>

  <div class="showcase--main showcase--neutral">
    <div class="showcase--col3_centered bm u-clearfix">
      <header class="t-lg_margins">
        <h2>{{project.title}}</h2>
      </header>
      <div>
        <section class="showcase showcase--col3_centered__col">
          {% if project.volunteerpicture %}
            <div class="mask mask--oval u-h_center--block">
              <img class="mask__content"
                   src="{{project.volunteerpicture.url}}"
                   alt="{{project.volunteerpicture.description}}">
            </div>
          {% endif %}
          <span class="t-body--sm"><strong>{{project.volunteername}}</strong><br>
            volunteer from <strong>{{project.volunteerhomestate}}</strong>
          </span>
        </section>
        <section class="showcase showcase--col3_centered__col">
          <div class="mask mask--oval mask--bordered u-h_center--block map"
               data-country="{{project.country.code}}"
               data-url="{{ static("peacecorps/img/BlankMap-World6.svg") }}">
          </div>
            <span class="t-body--sm">
              in <strong>{{project.country.name}}</strong>
            </span>
        </section>
        <section class="showcase--col3_centered__col js-fundingBar"
                 data-project-code="{{ project.account.code }}">
          {% set funded_percent = project.account.percent_funded() %}
          <div class="funded-chart">
            <div class="funded-amount-bar" style="max-width: {{funded_percent }}%;">
              &nbsp;
            </div>

            <div class="radial_progress">
            </div>

            <p class="funded-amount-text">
              {{ funded_percent|round|int }}% funded
            </p>
            <p class="funded-amount-text t-body--sm">
              {{ funded_percent|round|int }}% funded
            </p>
          </div>
          <p>Funds sought: <strong>${{project.account.goal/100}}</strong></p>
        </section>
      </div>
    </div>
    <div class="showcase showcase--main">
      <a href="" {# TODO where does this link go? #}
         class="button button--sm button--primary">
        Help fund {{project.title}}</a>
    </div>
  </div>
</article>
