defusedxml==0.4.1
Django>=1.7,<1.8
django-jinja==1.0.4
django-localflavor==1.2
django-overextends==0.4.1
django-sirtrevor==0.2.4
django-tinymce==2.2.0
DjangoRestless==0.0.10
Pillow==3.0.0
pyyaml==3.11
python-gnupg==0.3.8
pytz==2015.7
djangorestframework<3.4

# These should really be optional dependencies, but we can separate out a
# requirements-production later
psycopg2==2.5.3
boto==2.39.0
python-logstash==0.4.6
# Version 0.5.0 breaks backwards compatibility
django-admin-sortable2==0.3.3
pylibmc==1.5.0
django-elasticache>=0.0.3
# @see http://code.larlet.fr/django-storages/issue/155/python-3-support
-e git+https://github.com/coagulant/django-storages-py3.git@py3#egg=django-storages
# Fixes an upstream bug. See https://github.com/mapmyfitness/django-gzipping-cache/pull/1
-e git+https://github.com/18f/django-gzipping-cache.git#egg=django-gzipping-cache
