/*
 * Banner
 *
 * A full width to wrap banner of differnt colors and sizes. This differs from
 * full banner in that it doesn't span the whole width of the viewport.
 */

// TODO combine some logic in full banner with this.

@import "globals";

.banner {
  border-top: .8em solid;
  padding: .5em 3em;
  width: 100%;
}

.banner--primary {
  border-color: $primary;
  background: $neutral_dark;
}

.banner--secondary {
  border-color: $secondary;
  background-color: $secondary-light;
  color: $white;
}
