/*
 * Banner
 *
 * A full width to wrap banner of differnt colors and sizes. This differs from
 * full banner in that it doesn't span the whole width of the viewport.
 */

// TODO combine some logic in full banner with this.

@import "../globals";

.banner {
  border-top: .8em solid;
  padding: 1em 3em;
  width: 100%;

  @include media($sm) {
    padding: 1em;
  }
}

.banner--primary {
  border-color: $primary;
  background: $neutral_dark;
}

.banner--secondary {
  border-color: $neutral_medium;
  background-color: $secondary;
  color: $white;
}

.banner--support {
  border-color: $neutral_medium;
  background-color: rgba($primary_support, 0.75);
  color: $white;
}

.banner--neutral_ex_dark {
  border-color: $neutral_medium;
  background-color: $neutral_ex_dark;
  color: $white;
}

.banner--dark_transparent {
  background-color: rgba($secondary_dark, 0.9);
  color: $white;
}

.banner--no_line {
  border-top: none;
}
