/*
 * Class that has no base to deal with placing background images.
 *
 * To use, set the background image url inline.
 */

@import "globals";

.bg_img--centered {
  background-position-y: 50%;
  background-size: 100% auto;
}

.bg_img--banner {
  height: 18em;

  @include media($sm) {
    height: 10em;
  }
}

// TODO move to icon class
// Hide from IE
.bg_img--icon {
  display: none;
}
.bg_img--icon:not(old) {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-color: #888;
  -webkit-mask-size: 1.5em 1.5em;
}
