/*
 * Class that has no base to deal with placing background images.
 *
 * To use, set the background image url inline.
 */

@import "../globals";

.bg_img--centered {
  background-position-y: 50%;
  background-size: 100% auto;
}

.bg_img--banner {
  height: 18em;

  @include media($sm) {
    height: 10em;
  }
}

.bg_img--icon {
  background-repeat: no-repeat;
  background-size: 10% 100%;
  min-height: 1em;
  padding-bottom: .5em;
  padding-left: 10%;
  padding-top: .5em;
}
