/*
 * layout/Blurb
 *
 * Blurb is a layout module that puts a large amount of padding and spacing
 * for a blurb.
 */

@import "../globals";
@import "../mixins";

.blurb {
  @include span-columns(8);
  @include shift(2);
  padding-bottom: em(75, $base);
  padding-top: em(75, $base);
  text-align: center;

  @include media($sm) {
    margin-left: 0;
    width: 100%;
  }
}

.blurb__spacing {
  margin-top: em(120, $base);
}

.blurb--sm {
  padding-bottom: em(30, $base);
  padding-top: em(30, $base);
}

.blurb--flatten_t {
  padding-top: 0;
}
