
@import "../globals";
@import "../mixins";

// Blurb
//
// Blurb is a layout module that puts a large amount of padding and spacing
// for a blurb.
//
// Markup:
// <section class="blurb {{ modifier_class }}">
//   <h2 class="t-blurb--md">
//     Lorem Ipsum ut at diam tristique, vestibulum velit eu, congue urna.
//   </h2>
// </section>
//
// .blurb--sm  - A smaller version of the blurb, equal amount of space.
// .blurb--lg  - Larger version of the blurb, more space on bottom then top.
// .blurb--flatten_t  - No padding on the top.
//
// Styleguide components.blurb
.blurb {
  @include span-columns(8);
  @include shift(2);
  padding-bottom: em(75, $base);
  padding-top: em(75, $base);
  text-align: center;

  @include media($sm) {
    margin-left: 0;
    width: 100%;
  }
}

.blurb__spacing {
  margin-top: em(120, $base);
}

.blurb--sm {
  padding-bottom: em(30, $base);
  padding-top: em(30, $base);
}

.blurb--md {
  padding-bottom: em(60, $base);
  padding-top: em(60, $base);
}

.blurb--lg {
  padding-bottom: 5.5em;
  padding-top: 3em;
}

.blurb--flatten_t {
  padding-top: 0;
}
