/*
 * Bordered block.
 *
 * Places a solid 1em border around an element.
 */

@import "globals";

body {
  border-color: $primary;
}

.bordered {
  border-style: solid;
  border-width: 1em;

  @include media($sm) {
    border-width: 0.5em;
  }
}

.bordered--white {
  background-color: $white;
  border-color: $white;
}
