/*
 * Bordered block.
 *
 * Places a solid 1em border around an element.
 */

@import "../globals";

// Bordered
//
// Places a solid 1em border around an element.
//
// Markup:
// <div class="bordered {{ modifier_class }}">
//   <p>Content</p>
// </div>
//
// .bordered--row  - A row in a table style layout thats bordered, so only
//   has a border on the top.
// .bordered--white  - White as border color and background.
//
// Styleguide components.bordered
.bordered {
  border-style: solid;
  border-width: 1em;
  display: block;

  @include media($sm) {
    border-width: 0.5em;
  }
}

.bordered--row {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: .8em;
}

.bordered--white {
  background-color: $white;
  border-color: $white;
}
