/*
 * Bordered block.
 *
 * Places a solid 1em border around an element.
 */

@import "../globals";

body {
  border-color: $primary;
}

.bordered {
  border-style: solid;
  border-width: 1em;
  display: block;

  @include media($sm) {
    border-width: 0.5em;
  }
}

.bordered--row {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: .8em;
}

.bordered--white {
  background-color: $white;
  border-color: $white;
}
