/*
 * Bubble. Creates a round bubble with content in it.
 *
 * A rounded shape with content in its center.
 */

@import "globals";


.bubble {
  background-color: $white;
  border-radius: 50%;
  display: block;
  height: 0;
  margin: 0.4em auto;
  padding-bottom: 80%;
  position: relative;
  width: 80%;

  @include media($sm) {
    padding-bottom: 90%;
    width: 90%;
  }
}

.bubble__content {
  float: left;
  left: 50%;
  line-height: 1;
  margin-top: -0.5em;
  padding-top: 22%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 96%;

  @include media($sm) {
    padding-top: 20%;
  }
}

.bubble--neutral_dark {
  background-color: $neutral_dark;
}

.bubble--primary {
  background-color: $white;
  color: $white;

  .bubble__content {
    color: $primary;
  }
}

.bubble--white {
  background-color: $white;
  outline-color: $primary;
  color: $primary;
}

.bubble--bordered {
  outline-style: solid;
  outline-width: .25em
}

.bubble--square {
  border-radius: 0;
}

.bubble--rectangle {
  padding-bottom: 51%;

  @include media($sm) {
    padding-bottom: 67%;
  }
}

// TODO :not(old) is a hack to ignore styles in old browsers
.bubble_form {
  label {
    cursor: pointer;
  }
  input[type=number]:not(old) {
    @extend .bubble__content;
    border: none;
    border-bottom-width: .15em;
    border-bottom-style: solid;
    color: $primary;
    background: none;
    left: 58%;
    margin-top: 0;
    padding-top: .1em;
    font-size: 1.2em;
    width: 70%;
  }
  input[type=radio]:checked:not(old) {
    border-color: $white;
  }

  input[type=radio]:checked:not(old) + .bubble {
    background-color: $primary;
    border-color: $white;

    .bubble__content {
      color: $white;
    }
  }
}
