/*
 * Bubble. Creates a round bubble with content in it.
 *
 * A rounded shape with content in its center.
 */

@import "../globals";
@import "../mixins";

.bubble {
  background-color: $white;
  border-radius: 50%;
  display: block;
  height: 0;
  margin: 0.4em auto;
  padding-bottom: 80%;
  position: relative;
  width: 80%;

  @include media($sm) {
    padding-bottom: 90%;
    width: 90%;
  }
}

.bubble__content {
  float: left;
  left: 50%;
  line-height: 1;
  margin-top: -0.5em;
  padding-top: 22%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 96%;

  @include media($sm) {
    padding-top: 20%;
  }
}

.bubble--neutral_dark {
  background-color: $neutral_dark;
}

.bubble--primary {
  background-color: $primary;
  color: $white;

  .bubble__content {
    color: $white;
  }
}

.bubble--white {
  background-color: $white;
  outline-color: $primary;
  color: $primary;
}

.bubble--bordered {
  outline-style: solid;
  outline-width: .25em
}

.bubble--square {
  border-radius: 0;
}

.bubble--rectangle {
  padding-bottom: 51%;

  @include media($sm) {
    padding-bottom: 67%;
  }
}

// TODO :not(old) is a hack to ignore styles in old browsers
.bubble_form {
  .small {
    @include font-size($leading-lg);
  }
  .x-large, input[type=number] {
    @include font-size($leading-xlg);
    color: $white;
  }
  input[type=number] {
    border: none;
    border-bottom-width: .05em;
    border-bottom-style: solid;
    background: none;
    width: 70%;
    text-align: center;
  }
}
