/*
 * Full background image
 *
 * To use, set the class and apply a background image url and height with
 * inline css.
 */

@import "globals";

.full_bg {
  width: 100%;
  height: 0;
  padding-bottom: 41.67%; /* 5 / 12 aspect ratio */
  background-size: 100%;
  position: relative;
  z-index: $z_index-bg;
}

.full_bg--top {
  border-bottom: 12px solid $neutral_medium;
  margin-top: -15em;
  margin-bottom: 2em;
}

.full_bg--lg {
  height: 46em;
}
