/*
 * Isolate
 *
 * Have an element isolate itself positionally from those around it.
 */

.isolate {
  display: block;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
}
