// Isolate
//
// Have an element isolate itself positionally from those around it.
//
// Markup:
// <div class="isolate {{ modifier_class }}">
//   <p>Some content</p>
// </div>
//
// .isolate--lg  - A greater margin to isolate.
// .isolate--b  - More marging on the bottom.
//
// Styleguide components.isolate

.isolate {
  display: block;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
}

.isolate--lg {
  margin-bottom: 2.5em;
  margin-left: 2.5em;
  margin-right: 2.5em;
  margin-top: 2.5em;

  &.isolate--b {
    margin: 0;
    margin-bottom: 2.5em;
  }
}

.isolate--b {
  margin-bottom: 1em;
}
