/*
 * Section
 *
 * Section(s) are for main, separated visual block of content.
 */

@import "../globals";
@import "../mixins";

.section {
  clear: left;

  @include media($md) {
    padding-left: 1em;
    padding-right: 1em;
  }

  @include media($sm) {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.section--white {
  background-color: $white;
}

.section--neutral_dark {
  background-color: $neutral_dark;
  color: $gray-2;
}

.section--neutral_medium {
  background-color: $neutral_medium;
}

.section__content {
  padding-top: 2.5em;
  padding-bottom: 2.5em;

  @include media($sm) {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
}
.section__content--xsm {
  padding-top: 0.5em;
  padding-bottom: 0.5em;

}
.section__content--sm {
  padding-top: 1em;
  padding-bottom: 1em;
}

.section__box {
  padding: $gutter;

  > *:last-child {
    margin-bottom: 0;
  }

  & + & {
    margin-top: 2.6em;
  }
}

