
@import "../globals";

// Separator
//
// Creates a separator between elements
//
// Markup:
// <span class="separator {{ modifier_class }}">
//   <span>Some content</span>
// </span>
// <span class="separator {{ modifier_class }}">
//   <span>Some content</span>
// </span>
//
// .separator--h  - More margin on the bottom.
// .separator--t  - Top separator.
// .separator--r  - Right separator.
// .separator--l  - Left separator.
// .separator--white  - White separator.
// .separator--hide_sm  - Hide the separator at mobile breakpoints.
//
// Styleguide components.separator
.separator {
  border-color: $neutral_ex_dark;
}

.separator--h {
  margin-top: 1em;
  margin-bottom: 2em;

  @include media($sm) {
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
}

.separator--t {
  border-top-width: 2px;
  border-top-style: solid;
  margin-top: 1em;
  padding-top: 1em;
}

.separator--r {
  border-right-width: 2px;
  border-right-style: solid;
  margin-right: 0.75em;
  padding-right: 0.75em;
}

.separator--l {
  border-left-width: 2px;
  border-left-style: solid;
  margin-left: 0.75em;
  padding-left: 0.75em;

  @include media($md) {
    margin-left: 0.5em;
    padding-left: 0.5em;
  }
}

.separator--white {
  border-color: $white;
}

.separator--hide_sm {
  @include media($sm) {
    border-left: 0;
    border-right: 0;
    margin-left: initial;
    margin-right: initial;
    padding-left: initial;
    padding-right: initial;
  }
}
