/*
 * Sub Nav
 *
 * A sub inline navigation separate from the Main Nav
 */

@import "../globals";

.sub_nav {
  color: $gray-2;

  a {
    color: $gray-2;
    text-decoration: none;
  }

}
.sub_nav__link {
  @extend .t-body--md;
}

.sub_nav--vertical {
  .sub_nav__link {
    margin-top: .5em;
    margin-bottom: .5em;
  }
}

.sub_nav--horizontal {
  .sub_nav__link {
    display: inline-block;
    margin-right: 1em;
  }
}

.sub_nav__link--horizontal {
  margin-left: 7%;

  * {
    text-decoration: none;
  }

  @include media($md) {
    margin-left: 5%;
  }

  *[aria-selected=true] {
    text-decoration: underline;
  }
}
