/*
 * World svg map styling
 *
 * These class names all come from the wikipedia SVG map file. While they are
 * techincally editable, it would require a lot of editing.
 */

@import "globals";

.world_map {

  .world_map-is_selected {
    fill: $support !important;
  }

  .landxx {
    fill: $neutral_medium;
    stroke: $white;
    fill-rule:evenodd;
  }
  &.zoom4 .landxx {
    stroke-width: 2px;
  }
  &.zoom3 .landxx {
    stroke-width: 3px;
  }
  &.zoom2 .landxx {
    stroke-width: 4px;
  }
  &.zoom1 .landxx {
    stroke-width: 5px;
  }
  .coastxx {
     fill: $neutral_medium;
     stroke: $white;
     stroke-width: 2px;
     fill-rule:evenodd;
  }
  .oceanxx {
     opacity: 1;
     color: #ccc;
     fill: $white;
     stroke: $white;
     stroke-width:0.5;
     stroke-miterlimit:1;
  }
}
