/*
 * Global variables
 */

@import "neat/neat-helpers";

/*
 * Color
 */
$black: #222;
$white: #fff;
$primary: #A12122; // Darkish red
$primary_support: #C94112; // Darkish orange
$primary_support_lite: #F68B1F; // Light orange
$secondary: #05888C; // Teal
$neutral_dark: #E5E1D4; // Gray brownish
$neutral_medium: #F2EFE8; // Gray brownish lighter


/*
 * Grid
 */
$grid-columns: 12;
$column: golden-ratio(1em, 3) !default;
$gutter: golden-ratio(.8em, 3) !default;
$max-width: em(1088);
$visual-grid: true;


/*
 * Breakpoint
 */
$sm: new-breakpoint(min-width 0px max-width 499px 4);
$md: new-breakpoint(min-width 500px max-width 899px 9);
$lg: new-breakpoint(min-width 900px max-width 1999px 12);
$xlg: new-breakpoint(min-width 2000px 12);


/*
 * Z-Index
 */
$z_index-neg_1: -100;
$z_index-1: 100;

$z_index-bg: $z_index-neg_1;
