/*
 * Contains all sass utilities such as floats, clears, etc.
 */

@import "bourbon/bourbon";
@import "neat/neat";
@import "globals";


// A list with no list style and list spacing.
@mixin u-unmarked_list {
  padding: 0;
  li {
    list-style: none;
  }
}
.u-unmarked_list {
  @include u-unmarked_list;
}

// Classic clearfix
@mixin u-clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
.u-clearfix:after {
  @include u-clearfix;
}

