/*
 * Contains all sass utilities such as floats, clears, etc.
 */

@import "bourbon/bourbon";
@import "neat/neat";
@import "globals";


// A list with no list style and list spacing.
@mixin u-unmarked_list {
  padding: 0;
  li {
    list-style: none;
  }
}
.u-unmarked_list {
  @include u-unmarked_list;
}

// Classic clearfix
@mixin u-clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
.u-clearfix {
  @include u-clearfix;
}

// Visually hide information but keep available for screen readers.
@mixin u-visually_hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
.u-visually_hidden {
  @include u-visually_hidden;
}

// Centers an block element vertically and horizontally.
.u-hv_center--block {
  position: relative;

  .u-hv_center--block__content {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
  }
}

// Centers a block element horizontally.
.u-h_center--block {
  margin: 0 auto;
}
