@import "globals";

.landing .top_banner {
  @include span-columns(12);
  .text-block a {
    @extend .t--white;
    @include span-columns(4 of 8);
    @include shift(2 of 8);
    text-decoration: none;
    background-color: rgba($primary_support, 0.75);
  }
  img {
    width: 100%;
    max-height: 350px;
  }
  .text-block {
    @include span-columns(8);
    @include shift(2);
    text-align: center;
  }
}
