/*
 * Buttons styles.
 */

@import "globals";
@import "mixins";

button {
  cursor: pointer;
}

.button {
  @include user-select(none);
  border: 0;
  display: inline-block;
  padding: .6em 1.4em;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  white-space: nowrap;
  zoom: 1;

  &:active {
    @extend .button--is_active;
  }

  &:hover {
    @extend .button--is_hovered;
  }

}

.button--is_disabled {
  cursor: not-allowed;
  opacity: .4;
}

.button--is_active {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15) inset, 0 -3px 6px 1px rgba(0, 0,
    0, 0.1) inset
}

.button--is_hovered {
  position:relative;

  &:before {
    background-color: rgba($white, .12);
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    top: 0;
  }
}

.button--sm {
  @extend .t-title--4;
}

.button--md {
  @extend .t-title--3;
}

.button--lg {
  @extend .t-title--2;
}

.button--primary {
  background-color: $primary;
  color: $white;
}

.button--secondary {
  background-color: $white;
  color: $primary_support;
}
