/*
 * Type styles.
 */

@import "globals";
@import "mixins";

$leading-xsm: 1em;
$leading-sm: 1.2em;
$leading-md: 1.4em;
$leading-lg: 1.6em;
$leading-xlg: 2em;

$weight-light: 100;
$weight-book: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

html {
  font-size: 62.5%;
  line-height: $leading-md;
}
body {
  color: $primary;
  @include font-size(1.5);
  font-family: Archer;
  font-weight: $weight-book;
  line-height: $leading-md;
  text-transform: none;
}

// Modfifier extensions
.t--caps {
  letter-spacing: .09em;
  text-transform: uppercase;
}

.t--bold {
  font-weight: $weight-bold;
}

.t--primary {
  color: $primary;
}

.t--secondary {
  color: $secondary;
}

.t--white {
  color: $white;
}

.t--black {
  color: $black;
}

/*
 * Headings are in the main content, serving as titles to body text.
 *
 * Default style of <h1-6>
 */
.t-heading {
  font-weight: $weight-medium;
  line-height: $leading-sm;
}
.t-heading--1 {
  @include font-size(3.8);
}
.t-heading--2 {
  @include font-size(2.8);
}
.t-heading--3 {
  @include font-size(2.2);
}
.t-heading--4 {
  @include font-size(1.8);
}
h1 {
  @extend .t-heading--1;
}
h2 {
  @extend .t-heading--2;
}
h3 {
  @extend .t-heading--3;
}
h4 {
  @extend .t-heading--4;
}
h1, h2, h3, h4, h5, h6 {
  @extend .t-heading;
}

/*
 * Body is the main body text.
 *
 * Default style of <p>, <span>, <button>
 */
.t-body {
  line-height: $leading-md;
}
.t-body--md {
  @extend .t-body;
  @include font-size(2.3);
}
.t-body--sm {
  @extend .t-body;
  @include font-size(1.6);
}
p, span, button {
  @extend .t-body--md;
}
p {
  color: $black;
}

/*
 * Title styles are for titles not associated with content.
 */
.t-title {
  @extend .t--caps;
  font-weight: $weight-medium;
}
.t-title--1 {
  @extend .t-title;
  @include font-size(3.8);
}
.t-title--2 {
  @extend .t-title;
  @include font-size(2.8);
}
.t-title--3 {
  @extend .t-title;
  @include font-size(2.0);
}
.t-title--4 {
  @extend .t-title;
  @include font-size(1.6);
}
.t-title--5 {
  @extend .t-title;
  @include font-size(1.2);
}
.t-title--6 {
  @extend .t-title;
  @include font-size(0.9);
}


/*
 * Blurbs are large pieces of readable (not uppercased) text that call out
 * bits of important information.
 */
.t-blurb {
  font-weight: $weight-book;
  line-height: $leading-sm;
}
.t-blurb--lg {
  @extend .t-blurb;
  @include font-size(4.8);
}
.t-blurb--md {
  @extend .t-blurb;
  @include font-size(3.8);
}


/*
 * Icon is for text that goes along with an icon
 */
.t-icon {
  @extend .t--caps;
  @include font-size(1.6);
}


/*
 * Single-nav are single navigational elements, such as links to more content.
 */
.t-single_nav {
  @extend .t--caps;
  @include font-size(1.6);
  font-weight: $weight-medium;
}


/*
 * Generic link styles.
 */
.t-link {
  color: $primary;
}
a {
  @extend .t-link;
}
