/*
 * Type styles.
 */

@import "globals";

body {
  color: $primary;
}

@mixin t-heading {
  font-family: "museo-sans",sans-serif;
  font-size: .8em;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}
.t-heading {
  @include t-heading;
}

@mixin t-heading--white {
  color: $white;
}
.t-heading--white {
  @include t-heading--white;
}

@mixin t-heading_xlg {
  font-family: "museo-slab",sans-serif;
  font-size: 3.8em;
  font-style: normal;
  font-weight: 100;
  line-height: 1em;
  text-transform: uppercase;
}
.t-heading_xlg {
  @include t-heading_xlg;
}

@mixin t-heading_lg {
  font-family: "museo-slab",sans-serif;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 100;
  line-height: 1.8em;
}
.t-heading_lg {
  @include t-heading_lg;
}

h1 {
  @include t-heading_xlg;
}

h2 {
  @include t-heading_lg;
}
