{% extends "donations/base.jinja" %}
{% from "donations/includes/macros.jinja" import url_or, volunteer_photo %}

{% block content_class %}landing{% endblock %}
{% set custom_top_image=static("peacecorps/img/sorter-top.png") %}

{% block content %}

<section class="blurb u-clearfix">
  <h2 class="t-blurb--md t--black">
    The Peace Corps Partnership Program funds community-led projects around the world. Use the tool below to explore them, or give to the Global Fund now and we'll send your money where it's needed most.
  </h2>

  <a href="/donate/fund/global/" class="discover_button u-hv_center--block__content">
         Give to the Global Fund
      </a>
</section>

<article class="js-discoverApp discover">
  <nav class="js-discoverNav u-clearl banner banner--no_line banner--secondary">
    <ul class="u-unmarked_list u-inline_list">
      <li class="md-hide sm-hide">
        <span class="t-title--3">Browse projects &amp; funds by: </span>
      </li>
      <li class="t-title--3 sub_nav__link--horizontal">
        <a class="t--white" href="#issue" data-controls-filter="issue"
           data-filter-reset="true">Issue</a>
      </li>
      <li class="t-title--3 sub_nav__link--horizontal">
        <a class="t--white" href="#country" data-controls-filter="country"
           data-filter-reset="true">Country</a>
      </li>
      <li class="t-title--3 sub_nav__link--horizontal">
        <a class="t--white" href="#volunteer" data-controls-filter="volunteer"
           data-filter-reset="true">Volunteer</a>
      </li>
    </ul>
  </nav>

  <ul class="u-unmarked_list u-clearfix" id="issue"
      data-in-filter="issue" >
    {% for issue in issues %}
      {% set issue_count = projects_by_issue[issue.id] %}
      <li id="page-issue-{{ issue.id }}">
        <a href="#" data-controls-filter="issue-{{issue.id}}""
           class="discover_page--link">
          {{ render_link_header(issue.icon_color_url('grey'), issue.name,
                                issue.name, issue_count) }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <ul class="u-unmarked_list u-clearfix" id="country"
      data-in-filter="country">
    {% for fund in country_funds %}
      {# Must use "get" as they key is a variable #}
      {% set project_count = projects_by_country.get(fund.country.code, 0) %}
      <li id="page-country-{{ fund.country.code }}">
        <a href="#" data-controls-filter="country-{{fund.country.code}}"
           class="discover_page--link">
        {{ render_link_header(
            static("peacecorps/img/countries/" + fund.country.code.lower()
                   + ".svg"),
            fund.country.name, fund.country.name, project_count)}}
        </a>
      </li>
    {% endfor %}
  </ul>
  <ul class="u-unmarked_list u-clearfix">
    {% for issue in issues %}
      {% for campaign in issue.campaigns.all() %}
        {% set img = issue_img(issue.icon_background.url,
                               issue.icon_color_url('white'), campaign.name) %}
        <li data-in-filter="issue-{{issue.id}}"
            class="discover_fund">
          {{ render_campaign(
            img,
            'issues',
            issue.name,
            campaign) }}
        </li>
      {% endfor %}
    {% endfor %}
    {% for fund in country_funds %}
      <li data-in-filter="country-{{fund.country.code}}"
          class="discover_fund">
        {{ render_campaign(
          country_map(fund.country.code),
          'countries',
          fund.country.name,
          fund) }}
      </li>
    {% endfor %}
    {% for project in projects %}
      <li class="discover_proj"
          data-in-filter="volunteer,{{project_filters.get(project.id)}}">
        {{ render_project_header(project) }}
        {{ render_project(project) }}
      </li>
    {% endfor %}
  </ul>
</article>

<a href="{{ url('donate memorial funds') }}" title="Memorial funds"
    class="t-single_nav t-link--white">
  <div class="banner banner--no_line banner--neutral_dark banner--short
        u-align_c"
      style="margin-top: 1em;">
      <h4 class="t-title--3">
        Memorial funds
        <i class="fa fa-angle-right icon icon--text"></i>
      </h4>
  </div>
</a>

{% endblock %}

{% macro country_map(code) -%}
  <div class="discover--country_map">
    <img src="{{ static("peacecorps/img/countries/" + code.lower()
                        + ".svg") }}" />
  </div>
{%- endmacro %}

{% macro issue_img(url, icon_color_url, alt) -%}
  <div class="discover_fund--issueimg"
       style="background-image: url('{{ url }}');">
    <img src="{{ icon_color_url }}" alt="{{ alt }}" />
  </div>
{%- endmacro %}

{% macro render_campaign(img, type, title, campaign) -%}
  <aside class="discover_fund--aside">
    <a href="#" class="js-pageBack t-single_nav drift_corner__tl">
      &lt; View all {{ type }}</a>
    <div class="u-pullr sm-no_pullr isolate section__content--sm">
      {{ img }}
    </div>
  </aside>
  <article class="column--half section__content">
    <h1 class="t-title--1">{{ title }}</h1>
    <h3 class="t-heading--3 t--primary">
      <a class="t-link--no_underline"
         href="{{ url("donate campaign", slug=campaign.slug) }}">
        {{ campaign.name }}
      </a>
    </h3>
    {{ campaign.abstract_html(read_more_link=True)|safe }}
    <a class="discover_button"
       href="{{ url("donate campaign", slug=campaign.slug) }}#amount-form">
      Give to this fund</a>
  </article>

{%- endmacro %}

{% macro render_project_header(project) -%}
  <a aria-expanded="false" href="#"
     aria-controls="collapsible-project-{{ project.id }}"
     class="js-collapsibleControls discover_proj--hd_link">
    {# shown when issue or country is selected #}
    <h4 data-in-filter="{{project_filters.get(project.id)}}"
        class="discover_proj--hd_min">{{ project.title }}</h4>
    {# shown when volunteer is selected #}
    <aside class="column column--third enclose--sm"
           data-in-filter="volunteer">
      <div class="discover_proj--hd_mask">
        {% if project.volunteerpicture %}
          {{ volunteer_photo(project) }}
        {% else %}
          <img src="{{ static("peacecorps/img/countries/"
                      + project.country.code.lower() + ".svg") }}"
               class="mask__content" style="width: 100%;" />
        {% endif %}
      </div>
    </aside>
    <header class="column column--half" style="height: 4em;"
            data-in-filter="volunteer">
      <h3 class="t-heading--3 t--gray--2 u-v_center--block">
        {{ project.volunteername }} ({{project.volunteer_statename()}})<br>
        <span class="t-heading--4 t--gray--2">
          {{ project.title }}
        </span>
      </h3>
    </header>
  </a>
{%- endmacro %}

{% macro render_link_header(url, alt, name, count) -%}
  <aside class="discover_page--aside">
    <div><img src="{{ url }}" alt="{{ alt }}" /></div>
  </aside>
  <header class="discover_page--hd">
    <h4>
      {{ name }}
      {% if count is defined %}({{count}}){% endif %}
    </h4>
  </header>
{%- endmacro %}

{% macro render_project(project) -%}
  <article class="js-collapsibleItem u-clearfix drift_corner"
        id="collapsible-project-{{ project.id }}">
    <aside class="discover_proj--aside">
        <div class="discover_proj--volpic">
          {{ volunteer_photo(project) }}
        </div>
        <div class="u-h_center--block">
          {{ country_map(project.country.code) }}
        </div>
    </aside>
    <section class="column--half section__content t--black">
      <h2>
        <a class="t-link--no_underline"
           href="{{ url("donate project", slug=project.slug) }}">
          {{ project.title }}
        </a>
      </h2>
      {{ project.abstract_html(read_more_link=True)|safe }}

      {# All classes within are scoped inside discover_progress #}
      <div class="discover_progress">
        {% set percent_raised = project.account.percent_raised() %}
        <div class="bar">
          <div class="fill" style="width: {{ percent_raised }}%;">
          </div>
        </div>
        <span style="left: {{ percent_raised }}%;"
            class="fill_mark">
        </span>
        <span class="fill_text" style="left: {{ percent_raised }}%;">
          {{ humanize_cents(project.account.total_raised()) }}<br/>
          raised
        </span>

        {% if not project.account.funded() %}
          <span class="goal_text">
             Goal<br />
             <strong class="t--secondary">{{ humanize_cents(project.account.total_cost()) }}</strong>
          </span>
          <span class="goal_mark">
          </span>
        {% endif %}
      </div>
      {% if project.account.funded() %}
        <a class="discover_button"
           href="{{ url("donate project", slug=project.slug) }}">
         Read more</a>
      {% else %}
        <a class="discover_button"
           href="{{ url("donate project", slug=project.slug) }}#amount-form">
         Give to the project</a>
      {% endif %}
    </section>
    <a href="#" class="
        icon icon--box icon--gray
        fa fa-times
        drift_corner__tr
        js-close"
        title="Close"></a>
  </article>
{%- endmacro %}

