<!DOCTYPE html>
<html lang='en'>
<head>
    <title>{% block title %}
      {% if title %}
        {{ title  }} -
      {% endif %}
      Peace Corps
      {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
        maximum-scale=1.0, user-scalable=0">
    <meta name="viewport" content="width=device-width">
    <meta property="og:title" content="{% if title %}{{ title }}{% else %}Peace Corps{% endif %}" />
    <meta property="og:site_name" content="US Peace Corps" />
    <meta property="og:url" content="https://beta.peacecorps.gov{{ request.path }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{% block og_description %}Peace Corps Volunteers help build clinics in villages, put books in schools, and improve access to nutritious food. Give today and help support projects like these.{% endblock %}" />
    <meta property="og:image" content="{{ static('peacecorps/img/og_default.jpg') }}" />

    {% if MINIFIED %}
    <link rel="stylesheet" href="{{ static(
        "peacecorps/css/compiled/donation.min.css") }}" />
    {% else %}
    <link rel="stylesheet" href="{{ static(
        "peacecorps/css/compiled/donation.css") }}" />
    {% endif %}
    <link rel="stylesheet" type="text/css"
        href="//cloud.typography.com/6638272/768686/css/fonts.css" />
    <link rel="icon" type="image/x-icon" href="{{ static("favicon.ico") }}" />
    <noscript>
      <link rel="stylesheet" type="text/css"
        {% if MINIFIED %}
        href="{{
          static("peacecorps/css/compiled/lib/font-awesome/font-awesome.min.css")
          }}" />
        {% else %}
        href="{{
          static("peacecorps/css/compiled/lib/font-awesome/font-awesome.css")
          }}" />
        {% endif %}
    </noscript>
    <noscript>
      <link href='//fonts.googleapis.com/css?family=Lato:300,400'
            rel='stylesheet' type='text/css'>
    </noscript>
</head>
<body>
<a href="#mainContent" class="u-visually_hidden">skip navigation</a>

<!--[if lte IE 8]>
  <section>
    <h2>Your browser is out of date.</h2>
    <p style="color: #000;">
      You are using an older version of Internet Explorer. For a better
      experience, please update your browser to the latest version.
    </p>
    <p>
      <a target="_blank"
         href="http://browsehappy.com/">Learn how to update your browser.</a>
    </p>
  </section>
<![endif]-->
{% block top_most_banner %}{% endblock %}
{% if featured_top_image %}
<div class="top_image top_image--featured wrapper"
     style="background-image: url('{{featured_top_image}}');">
{% else %}{% if custom_top_image %}
<div class="top_image top_image--custom wrapper"
     style="background-image: url('{{custom_top_image}}');">
{% else %}
<div class="top_image top_image--default wrapper">
{% endif %}{% endif %}
  <header class="banner--dark_transparent banner--sitewide_notification
                 u-clearfix drift_corner">
    <a href="http://www.peacecorps.gov" class="t-single_nav t--white enclose">
      <span class="t-title--4">
        <i class="fa fa-angle-left icon icon--text"></i>
        Back to Peacecorps.gov home
      </span>
    </a>
    <span class="t-body--xsm">This site is in beta,
      <a href="#beta-info" class="t-link--white"
         aria-controls="beta-info">learn more</a></span>
    <section id="beta-info" class="js-collapsibleItem js-collapsibleNoHide"
             data-show-once="beta-banner">
      <div class="blurb blurb--md">
        <h2>This site is in beta, tell us what you think!</h2>
        <p class="t-body--md t--white">
          We're rebuilding, and would love to get your thoughts on what we have
          so far. Email us at
          <a href="mailto:donate@peacecorps.gov"
             class="t-link--white">donate@peacecorps.gov</a> to let us know how
           it's working for you!
        </p>
      </div>
      <a href="#" class="
          icon icon--box icon--gray
          fa fa-times
          drift_corner__tr
          js-close"
          title="Close"></a>
    </section>
  </header>
  {% block banner %}
  <header class="banner banner--support banner--no_line">
    <a class="logo__img" href="{{ url('donate landing') }}">
      <img src="{{ static('peacecorps/img/pc_logo.png') }}"
           class="u-inline" alt="Peace Corps Logo" />
    </a>
    <div class="logo">
      <h1 class="logo__text
      ">
        <a href="{{ url('donate landing') }}" class="t--white">
          Peace Corps
        </a>
      </h1>
      {% if title %}
        <h2 class="t-title--2 u-inline u-block--at_sm logo__suplementary
            separator--l separator--white separator--hide_sm"
            style="max-width: 26em">
          {{ title }}</h2>
      {% endif %}
    </div>
  </header>
  {% endblock %}
</div>
<div class="wrapper">
  {% block navigation %}{% endblock %}

  <main class="{% block content_class %}{% endblock %} u-clearfix"
      id="mainContent">
  {% block content %}{% endblock %}
  </main>

  <footer class="section section__content section__content--lg">
    <div class="inset inset--lg u-clearfix">
      <section class="column nested_column--lg_fourth">
        <h2 class="t-title--2">Donate</h2>
        <p class="t-body--md">Part of the <a href="https://beta.peacecorps.gov/donate">peacecorps.gov</a> Beta.</p>
        <hr class="separator--h" />
        <nav class="sub_nav sub_nav--vertical">
          <h3 class="t-title--3 t--gray--2">Projects and Funds</h3>
          <ul class="u-unmarked_list">
            <li class="sub_nav__link">
              <a href="{{ url('donate projects funds') }}#issue">By Issue</a>
            </li>
            <li class="sub_nav__link">
              <a href="{{ url('donate projects funds') }}#country">By Country</a>
            </li>
            <li class="sub_nav__link">
              <a href="{{ url('donate projects funds') }}#volunteer">By Volunteer</a>
            </li>
            <li class="sub_nav__link">
              <a href="{{ url('donate memorial funds') }}">Memorial Funds</a>
            </li>
            <li class="sub_nav__link">
              <a href="{{url ('donate campaign', slug='peace-corps')}}">Peace Corps Fund</a>
            </li>
            <li class="sub_nav__link">
              <a href="https://letgirlslearn.peacecorps.gov">Let Girls Learn</a>
            </li>
          </ul>
        </nav>
      </section>
      <section class="column nested_column--lg_greater_fourth
          o-nested_column--sevens
          u-clearfix"
          style="margin-right: 0;">
        <h2 class="t-title--2">peacecorps.gov</h2>
        <p class="t-body--md">All links return to peacecorps.gov.</p>
        <hr class="separator--h" />
        <nav class="column nested_column--fourth sub_nav sub_nav--vertical">
          <h3 class="t-title--3 t--gray--2">Get Involved</h3>
          <ul class="u-unmarked_list">
            <li class="sub_nav__link">
              <a href="http://donate.peacecorps.gov">
                Donate</a>
            </li>
            <li class="sub_nav__link">
              <a href="http://passport.peacecorps.gov">
                Peace Corps Passport</a>
            </li>
          </ul>
          <h3 class="t-title--3 t--gray--2" style="margin-top:1.5em;">Resources</h3>
          <ul class="u-unmarked_list">
            <li class="sub_nav__link">
              <a href="http://www.peacecorps.gov/resources/returned/home/">
                Returned Volunteers</a>
            </li>
            <li class="sub_nav__link">
              <a href="http://www.peacecorps.gov/resources/faf/">
                Family &amp; Friends</a>
            </li>
            <li class="sub_nav__link">
              <a href="http://www.peacecorps.gov/wws/">Teachers</a>
            </li>
          </ul>
        </nav>
        <nav class="column nested_column--fourth sub_nav sub_nav--vertical">
          <h3 class="t-title--3 t--gray--2">Join</h3>
          <ul class="u-unmarked_list">
            <li class="sub_nav__link">
              <a href="http://www.peacecorps.gov/apply/?from=applyby">Apply</a>
            </li>
            <li class="sub_nav__link">
              <a href="http://www.peacecorps.gov/volunteer/learn/meet/">
                Talk to a recruiter</a>
            </li>
            <li class="sub_nav__link">
              <a href="http://www.peacecorps.gov/volunteer/learn/meet/events/">
                Attend an event</a>
            </li>
            <li class="sub_nav__link">
              <a href="http://www.peacecorps.gov/openings/?from=hpb">
                Current opportunities</a>
            </li>
          </ul>
        </nav>
        <nav class="column nested_column_half sub_nav sub_nav--vertical">
          <h3 class="t-title--3 t--gray--2">Contact</h3>
          <ul class="u-unmarked_list">
            <li class="sub_nav__link sub_nav__link--condensed">Peace Corps<br>
              Paul D. Coverdell Peace Corps Headquarters<br>
              1111 20th Street, NW<br>
              Washington, D.C. 20526</li>
            <li class="sub_nav__link">Phone: 855-855-1961</li>
            <li class="sub_nav__link">
              <a href="https://www.peacecorps.gov/contact/quesandcom/">
                Email Form</a>
            </li>
          </ul>
        </nav>
      </section>
      <nav class="sub_nav sub_nav--horizontal">
        <ul class="u-unmarked_list">
          <li class="sub_nav__link">
            <a class="t-body--xsm"
               href="http://www.peacecorps.gov/about/policies/general/">
              Privacy Policy</a>
          </li>
          <li class="sub_nav__link">
            <a class="t-body--xsm"
               href="http://www.peacecorps.gov/about/policies/foia/">
              Freedom of Information</a>
          </li>
        </ul>
        <p>You are visiting the new experimental
        <a href="https://beta.peacecorps.gov/donate">peacecorps.gov</a>.
          We'd love your feedback: <a href="mailto:donate@peacecorps.gov">
            donate@peacecorps.gov</a></p>
      </nav>
    </div>
  </footer>
</div>

<script type="text/javascript">
(function() {
  var css = document.createElement('link');
  {% if MINIFIED %}
  css.href =
    '{{ static("peacecorps/css/compiled/lib/font-awesome/font-awesome.min.css") }}';
  {% else %}
  css.href =
    '{{ static("peacecorps/css/compiled/lib/font-awesome/font-awesome.css") }}';
  {% endif %}
  css.rel = 'stylesheet';
  css.type = 'text/css';
  document.getElementsByTagName('head')[0].appendChild(css);
})();
WebFontConfig = {
  google: { families: [ 'Lato:300,400:latin' ] }
};
(function() {
  var wf = document.createElement('script');
  wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
    '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
  wf.type = 'text/javascript';
  wf.async = 'true';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(wf, s);
})();
</script>

{% if MINIFIED %}
<script src="{{ static("peacecorps/js/compiled/peacecorps-donation.min.js") }}">
</script>
{% else %}
<script src="{{ static("peacecorps/js/compiled/peacecorps-donation.js") }}">
</script>
{% endif %}
{% if ANALYTICS_ID %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ ANALYTICS_ID }}', 'auto');
  ga('set', 'anonymizeIp', true);
  ga('send', 'pageview');
</script>
{% endif %}

{% block custom_js %}{% endblock %}

</body>
</html>
