<html lang='en'>
<head>
    <title>{% block title %}Peace Corps{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
        maximum-scale=1.0, user-scalable=0">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ static(
        "peacecorps/css/compiled/donation.css") }}" />
    <link rel="stylesheet" type="text/css"
        href="//cloud.typography.com/6638272/662206/css/fonts.css" />
</head>
<body>
<nav class="banner banner--dark_transparent banner--no_line"
  style="position: absolute; top: 0; left: 0;">
  <a href="http://peaceocorps.gov" class="t-single_nav t--white">
    <span class="t-title--4">
      Back to Peacecorps.gov home
    </span>
  </a>
  <span class="t-body--xsm">This is a beta site</span>
</nav>
<div class="wrapper">
  <header class="full_banner full_banner--support section__content"
      style="margin-top: 3.4em;">
    <a href="{{ url('donate landing') }}">
      <img src="{{ static('peacecorps/img/pc_logo.png') }}" class="u-inline"
        style="width: 6em; margin-right: .5em" />
    </a>
    <h1 class="t-title--1 u-inline
      {% if title %}
        separator--r separator--white
      {% endif %}
    ">
      <a href="/donate" class="t--white">
        Peace Corps
      </a>
    </h1>
    {% if title %}
      <h2 class="t-title--2 u-inline">{{ title }}</h2>
    {% endif %}
  </header>

  {% block navigation %}{% endblock %}

  <main class="{% block content_class %}{% endblock %}">
  {% block content %}{% endblock %}
  </main>

</div>

<script src="{{ static("peacecorps/js/compiled/peacecorps-donation.js") }}">
</script>

{% block custom_js %}{% endblock %}

</body>
</html>

