<!DOCTYPE html>
<html lang='en'>
<head>
    <title>{% block title %}
      {% if title %}
        {{ title  }} -
      {% endif %}
      Peace Corps
      {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
        maximum-scale=1.0, user-scalable=0">
    <meta name="viewport" content="width=device-width">
    {% if DEBUG %}
    <link rel="stylesheet" href="{{ static(
        "peacecorps/css/compiled/donation.css") }}" />
    {% else %}
    <link rel="stylesheet" href="{{ static(
        "peacecorps/css/compiled/donation.min.css") }}" />
    {% endif %}
    <link rel="stylesheet" type="text/css"
        href="//cloud.typography.com/6638272/662206/css/fonts.css" />
    <link rel="icon" type="image/x-icon" href="{{ static("favicon.ico") }}" />
    <noscript>
      <link rel="stylesheet" type="text/css"
        {% if DEBUG %}
        href="{{
          static("peacecorps/css/compiled/lib/font-awesome/font-awesome.css")
          }}" />
        {% else %}
        href="{{
          static("peacecorps/css/compiled/lib/font-awesome/font-awesome.min.css")
          }}" />
        {% endif %}
    </noscript>
    <noscript>
      <link href='http://fonts.googleapis.com/css?family=Lato:300,400'
            rel='stylesheet' type='text/css'>
    </noscript>
</head>
<body>
<a href="#mainContent" class="u-visually_hidden">skip navigation</a>
{% block top_most_banner %}{% endblock %}
{% if custom_top_image %}
<div class="top_image top_image--custom wrapper"
     style="background-image: url('{{custom_top_image}}');">
{% else %}
<div class="top_image top_image--default wrapper">
{% endif %}
  <nav class="banner--dark_transparent banner--sitewide_notification">
    <a href="http://peacecorps.gov" class="t-single_nav t--white enclose">
      <span class="t-title--4">
        <i class="fa fa-angle-left icon icon--text"></i>
        Back to Peacecorps.gov home
      </span>
    </a>
    <span class="t-body--xsm">This is a beta site</span>
  </nav>
  <header class="banner banner--support banner--no_line">
    <a class="logo__img" href="{{ url('donate landing') }}">
      <img src="{{ static('peacecorps/img/pc_logo.png') }}"
      class="u-inline"afsdfasdfaasdfadfaaasdfasdf
        alt="Peace Corps Logo" />
    </a>
    <div class="logo">
      <h1 class="logo__text
      ">
        <a href="{{ url('donate landing') }}" class="t--white">
          Peace Corps
        </a>
      </h1>
      {% if title %}
        <h2 class="t-title--2 u-inline u-block--at_sm logo__suplementary
            separator--l separator--white separator--hide_sm"
            style="max-width: 26em">
          {{ title }}</h2>
      {% endif %}
    </div>
  </header>
</div>
<div class="wrapper">
  {% block navigation %}{% endblock %}

  <main class="{% block content_class %}{% endblock %} u-clearfix"
      id="mainContent">
  {% block content %}{% endblock %}
  </main>

  <footer class="section section__content section__content--lg
      u-clearfix inset inset--lg">
    <section class="column nested_column--lg_fourth">
      <h2 class="t-title--2">Donate</h2>
      <p class="t-body--md">Part of the <a href="https://beta.peacecorps.gov/donate">peacecorps.gov</a> beta.</p>
      <hr class="separator--h" />
      <nav class="sub_nav sub_nav--vertical">
        <h3 class="t-title--3 t--gray--2">Projects and Funds</h3>
        <ul class="u-unmarked_list">
          <li class="sub_nav__link">
            <a href="{{ url('donate projects funds') }}#issue">By Issue</a>
          </li>
          <li class="sub_nav__link">
            <a href="{{ url('donate projects funds') }}#country">By Country</a>
          </li>
          <li class="sub_nav__link">
            <a href="{{ url('donate projects funds') }}#volunteer">By Volunteer</a>
          </li>
          <li class="sub_nav__link">
            <a href="{{ url('donate memorial funds') }}">Memorial Funds</a>
          </li>
        </ul>
      </nav>
    </section>
    <section class="column nested_column--lg_greater_fourth
        o-nested_column--sevens
        u-clearfix"
        style="margin-right: 0;">
      <h2 class="t-title--2">peacecorps.gov</h2>
      <p class="t-body--md">Full site, all links return to peacecorps.gov</p>
      <hr class="separator--h" />
      <nav class="column nested_column--fourth sub_nav sub_nav--vertical">
        <h3 class="t-title--2 t--gray--2">Join</h3>
        <ul class="u-unmarked_list">
          <li class="sub_nav__link">
            <a href="http://www.peacecorps.gov/apply/?from=applyby">Apply</a>
          </li>
          <li class="sub_nav__link">
            <a href="http://www.peacecorps.gov/volunteer/learn/meet/">
              Talk to a recruiter</a>
          </li>
          <li class="sub_nav__link">
            <a href="http://www.peacecorps.gov/volunteer/learn/meet/events/">
              Attend an event</a>
          </li>
          <li class="sub_nav__link">
            <a href="http://www.peacecorps.gov/openings/?from=hpb">
              Current opportunities</a>
          </li>
        </ul>
      </nav>
      <nav class="column nested_column--fourth sub_nav sub_nav--vertical">
        <h3 class="t-title--2 t--gray--2">Resources</h3>
        <ul class="u-unmarked_list">
          <li class="sub_nav__link">
            <a href="http://www.peacecorps.gov/resources/returned/home/">
              Returned Volunteers</a>
          </li>
          <li class="sub_nav__link">
            <a href="http://www.peacecorps.gov/resources/faf/">
              Family & Friends</a>
          </li>
          <li class="sub_nav__link">
            <a href="http://www.peacecorps.gov/wws/">Teachers</a>
          </li>
        </ul>
      </nav>
      <nav class="column nested_column_half sub_nav sub_nav--vertical">
        <h3 class="t-title--2 t--gray--2">Contact</h3>
        <ul class="u-unmarked_list">
          <li class="sub_nav__link sub_nav__link--condensed">Peace Corps<br>
            Paul D. Coverdell Peace Corps Headquarters<br>
            1111 20th Street, NW<br>
            Washington, D.C. 20526</li>
          <li class="sub_nav__link">Phone: 855-855-1961</li>
          <li class="sub_nav__link">
            <a href="https://www.peacecorps.gov/contact/quesandcom/">
              Email Form</a>
          </li>
        </ul>
      </nav>
    </section>
    <nav class="sub_nav sub_nav--horizontal">
      <ul class="u-unmarked_list">
        <li class="sub_nav__link">
          <a class="t-body--xsm"
             href="http://www.peacecorps.gov/about/policies/general/">
            Privacy Policy</a>
        </li>
        <li class="sub_nav__link">
          <a class="t-body--xsm"
             href="http://www.peacecorps.gov/about/policies/foia/">
            Freedom of Information</a>
        </li>
      </ul>
      <p>You are visiting the new experimental
      <a href="https://beta.peacecorps.gov/donate">peacecorps.gov</a>.
        We've love your feedback: <a href="mailto:donate@peacecorps.gov">
          donate@peacecorps.gov</a></p>
    </nav>
  </footer>
</div>

<script type="text/javascript">
(function() {
  var css = document.createElement('link');
  {% if DEBUG %}
  css.href =
    '{{ static("peacecorps/css/compiled/lib/font-awesome/font-awesome.css") }}';
  {% else %}
  css.href =
    '{{ static("peacecorps/css/compiled/lib/font-awesome/font-awesome.min.css") }}';
  {% endif %}
  css.rel = 'stylesheet';
  css.type = 'text/css';
  document.getElementsByTagName('head')[0].appendChild(css);
})();
WebFontConfig = {
  google: { families: [ 'Lato:300,400:latin' ] }
};
(function() {
  var wf = document.createElement('script');
  wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
    '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
  wf.type = 'text/javascript';
  wf.async = 'true';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(wf, s);
})();
</script>

{% if DEBUG %}
<script src="{{ static("peacecorps/js/compiled/peacecorps-donation.js") }}">
</script>
{% else %}
<script src="{{ static("peacecorps/js/compiled/peacecorps-donation.min.js") }}">
</script>
{% endif %}
{% if ANALYTICS_ID %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ ANALYTICS_ID }}', 'auto');
  ga('set', 'anonymizeIp', true);
  ga('send', 'pageview');
</script>
{% endif %}

{% block custom_js %}{% endblock %}

</body>
</html>
