{% extends "donations/base.jinja" %}

{% block title %}Peace Corps | Thank You{% endblock %}
{% block header %}Peace Corps | Thank You{% endblock %}
{% block content_class %}thankyou{% endblock %}

{% block content %}
<section class="section">
  <div class="section__content u-clearfix">
    <article class="inset inset--sm">
      {% if request.GET.donor_name %}
        <h2>Thank you, {{ request.GET.donor_name }}!</h2>
      {% else %}
        <h2>Thank you!</h2>
      {% endif %}
      Your donation to the {{campaign.name}} will go to help our volunteer
      projects.
    </article>
    <div class="inset inset--sm">Tell Your Friends</div>
    <ul class="inset inset--sm">
      <li class="main_nav__link"
          ><a target="_blank"
              href="//www.facebook.com/sharer/sharer.php?u={{share_url|urlencode}}"
              >Facebook</a></li>
      <li class="main_nav__link"
          ><a target="_blank"
              href="//twitter.com/intent/tweet?text={{share_text|urlencode}}"
              >Twitter</a></li>
      <li class="main_nav__link"
          ><a target="_blank"
              href="mailto:?subject={{share_subject|urlencode}}&body={{share_text|urlencode}}"
              >Email</a></li>
    </ul>
  </div>
</section>

<a href="{{url("donate campaign", slug=campaign.slug)}}" class="t-title--4"
   >View Fund</a>
<section class="section">
  <div class="section__content u-clearfix">
    <div class="inset inset--sm">
      {# @TODO Photo #}
      <div>You Helped Support This</div>
      <h3>{{campaign.name}}</h2>
      {{campaign.description.html|safe}}
    </div>
  </div>
</section>
{% endblock %}

