{% extends "donations/base.jinja" %}

{% block title %}Peace Corps - Donation Failure{% endblock %}
{% block header %}Peace Corps - Donation Failure{% endblock %}

{% block content %}
<h2>{{campaign.name}}</h2>
{% endblock %}

