{% extends "donations/base.jinja" %}
{% from "donations/includes/macros.jinja" import url_or, volunteer_photo %}

{% block title %}Peace Corps{% endblock %}
{% block header %}Peace Corps{% endblock %}
{% block content_class %}landing{% endblock %}
{% set custom_top_image=static("peacecorps/img/sorter-top.png") %}

{% block content %}

<section class="blurb u-clearfix">
  <h2 class="t-blurb--md t--black">
    Explore here and support the work that Peace Corps Volunteers are doing
    to improve our world.
  </h2>
</section>

<nav class="js-discoverNav u-clearl banner banner--no_line banner--secondary">
  <ul class="u-unmarked_list u-inline_list">
    <li class="md-hide sm-hide">
      <span class="t-title--4">Select a category to browse and give:</span>
    </li>
    <li class="t-title--4 sub_nav__link--horizontal">
      <a class="t--white" href="#issue" data-filter-type="issue">Issues</a>
    </li>
    <li class="t-title--4 sub_nav__link--horizontal">
      <a class="t--white" href="#country" data-filter-type="country">Countries</a>
    </li>
    <li class="t-title--4 sub_nav__link--horizontal">
      <a class="t--white" href="#volunteer" data-filter-type="volunteer">Volunteers</a>
    </li>
  </ul>
</nav>

<article class="js-discoverApp">
  <ul class="js-filterable u-unmarked_list u-clearfix"
      data-filter-type="issue">
  {% for issue in issues %}
    <li id="page-issue-{{ issue.id }}">
      <a href="#" aria-controls="collapsible-page-issue-{{ issue.id }}"
          class="js-pageNav section--neutral_medium bordered bordered--row
          bordered--white u-clearfix">
        {{ render_link_header(issue.icon_color_url('grey'), issue.name, issue.name) }}
      </a>
    </li>
    {% for campaign in issue.campaigns.all() %}
    <li   data-page-id="collapsible-page-issue-{{ issue.id }}"
          class="js-page
          section--neutral_dark
          u-clearfix
          bordered
          bordered--row
          bordered--white">
        {{ render_campaign(campaign, issue) }}
    </li>
    {% endfor %}
      {# TODO figure out projects rather the featured projects #}
    {% for project in issue.projects() %}
      <li data-page-id="collapsible-page-issue-{{ issue.id }}"
          class="js-page
          section--neutral_medium
          u-clearfix
          bordered
          bordered--row
          bordered--white">
        {{ render_project_header(project, 'issue') }}
        {{ render_project(project, 'issue') }}
      </li>
    {% endfor %}
  {% endfor %}
  </ul>
  <ul class="js-filterable u-unmarked_list u-clearfix"
      data-filter-type="volunteer">
  {% for project in projects %}
    <li class="section--neutral_medium
          u-clearfix
          bordered
          bordered--row
          bordered--white">
      {{ render_volunteer_project_header(project, 'volunteer') }}
      {{ render_project(project, 'volunteer') }}
    </li>
  {% endfor %}
  </ul>
  <ul class="js-filterable u-unmarked_list u-clearfix"
      data-filter-type="country">
  {% for country in countries %}
    <li id="page-country-{{ country.id }}">
      <a href="#" aria-controls="collapsible-page-country-{{ country.id }}"
          class="js-pageNav section--neutral_medium bordered bordered--row
          bordered--white u-clearfix">
      {{ render_link_header(
        static("peacecorps/img/countries/" + country.country.code.lower() + ".svg"),
          country.country.name, country.country.name) }}
      </a>
    </li>
    <li data-page-id="collapsible-page-country-{{ country.id }}"
        class="js-page
          section--neutral_dark
          u-clearfix
          bordered
          bordered--row
          bordered--white">
      {{ render_country_campaign(country) }}
    </li>
    {# TODO figure out projects rather the featured projects #}
    {% for project in country.project_set.all() %}
      <li class="section--neutral_medium
          u-clearfix
          bordered
          bordered--row
          bordered--white">
        {{ render_project_header(project, 'country') }}
        {{ render_project(project, 'country') }}
      </li>
    {% endfor %}
  {% endfor %}
  </ul>
</article>

<div class="banner banner--no_line banner--neutral_ex_dark u-align_r"
    {# TODO find a place for this in CSS #}
    style="margin-top: 1em">
  <a href="{{ url('donate special funds') }}" title="Special funds"
    class="t-single_nav t-link--white">Special funds </a>
</div>

{% endblock %}

{% macro country_map(code) -%}
  <div class="mask mask--bordered mask--md mask--oval
              mask--bordered mask--gray-1 u-h_center--block map">
    <img src="{{ static("peacecorps/img/countries/" + code.lower()
                        + ".svg") }}"
         class="mask__content mask__content--md" />
  </div>
{%- endmacro %}

{% macro render_campaign(campaign, issue) -%}
  <aside class="grid--20 sm-hide
      section__content--contain section__content--no_space_r">
    <a href="#" class="js-pageBack t-single_nav t-body--sm"
        aria-controls="page-issue-{{ issue.id }}">
      &lt; View all issues</a>
    <img class="u-pullr section__content section__content--no_space_r isolate
        mask mask--oval mask--gray-1 mask--bordered"
      style="width: 14em; height: 14em;
             background-image: url('{{ issue.icon_background.url }}');
             background-size: 100%;"
      src="{{ issue.icon_color_url('white') }}"
      alt="{{ campaign.name }}" />
  </aside>
  <article class="grid--80 section__content--contain">
    <h2 class="t-title--2">{{ issue.name }}</h2>
    <h3 class="t-heading--3 t--primary">{{ campaign.name }}</h3>
    {{ campaign.description.html|safe }}
    <a class="button button--sm button--primary"
       href="{{ url("donate campaign", slug=campaign.slug) }}">
      Give to this fund</a>
  </article>
{%- endmacro %}

{% macro render_country_campaign(campaign) -%}
  <aside class="grid--20 sm-hide
      section__content--contain section__content--no_space_r">
    <div class="u-pullr"
        class="section__content--no_space_r"
        style="width: 50%;">
      {{ country_map(campaign.country.code) }}
    </div>
    <a href="#" class="js-pageBack t-single_nav t-body--sm">
      &lt; View all countries</a>
  </aside>
  <article class="grid--80 section__content--contain">
    <h2 class="t-title--2">{{ campaign.country.name }}</h2>
    <div class="content-block text-block">
      <p>{{ campaign.description.html|safe }}</p>
    </div>
    <a class="button button--sm button--primary"
       href="{{ url("donate campaign", slug=campaign.slug) }}">
      Give to this fund</a>
  </article>
{%- endmacro %}

{% macro render_project_header(project, ptype) -%}
  <a aria-expanded="false" href="#"
     aria-controls="collapsible-{{ ptype }}-{{ project.id }}"
     class="js-collapsibleControls">
    <header>
        {# TODO fix empty element #}
        <div class="grid--20" style="height: 1em;"></div>
        <h3 class="t-heading--3 t--gray--2 grid--80
            section__content--contain--sm">
          {{ project.title }}</h3>
    </header>
  </a>
{%- endmacro %}

{% macro render_link_header(url, alt, name) -%}
  <aside class="grid--20 sm-hide
      section__content--contain--sm section__content--no_space_r">
    <div class="mask mask--oval mask--gray-1 mask--bordered
         u-clearfix section__content--no_space_r u-pullr u-hv_center--block"
         style="width: 5em; height: 5em;">
      <img
        class="mask__content u-hv_center--block__content"
        style="width: 90%;"
        src="{{ url }}"
        alt="{{ alt }}" />
    </div>
  </aside>
  <header class="grid--80 section__content--contain--sm grid__last
      u-v_center--block">
      <h3 class="t-heading--3 t--gray--2 u-v_center--block__content">
        {{ name }}</h3>
  </header>
{%- endmacro %}

{% macro render_volunteer_project_header(project, ptype) -%}
  <a aria-expanded="false" href="#"
     aria-controls="collapsible-{{ ptype }}-{{ project.id }}"
     class="js-collapsibleControls">
    <aside class="grid--20 sm-hide
        section__content--contain--sm section__content--no_space_r">
      <div class="mask mask--oval mask--gray-1 mask--bordered
           u-clearfix section__content--no_space_r u-pullr"
           style="width: 5em; height: 5em;">
        {% if project.volunteerpicture %}
          {{ volunteer_photo(project) }}
        {% else %}
          <img src="{{ static("peacecorps/img/countries/"
                      + project.country.code.lower() + ".svg") }}"
               class="mask__content" style="width: 100%;" />
        {% endif %}
      </div>
    </aside>
    <header class="grid--80 section__content--contain--sm grid__last">
        <h3 class="t-heading--3 t--gray--2">
          {{ project.volunteername }}</h3>
        <h4 class="t-heading--4 t--gray--2">
          {{ project.title }} </h4>
    </header>
  </a>
{%- endmacro %}

{% macro render_project(project, ptype) -%}
  <article class="js-collapsibleItem"
        id="collapsible-{{ ptype }}-{{ project.id }}" aria-hidden="true">
    <aside class="grid--20 u-clearfix
        section__content--contain section__content--no_space_r">
      <div class="column column--r clearfix">
        <div class="mask mask--oval mask--gray-1 mask--bordered
             u-clearfix u-h_center--block l-bm--1 column__element"
             style="width: 12em; height: 12em;">
          {{ volunteer_photo(project) }}
        </div>
        <div class="u-h_center--block column__element
              section__content--no_space_r">
          {{ country_map(project.country.code) }}
        </div>
      </div>
    </aside>
    <section class="grid--80 section__content--contain">
      <a href="#" class="button button--primary button-icon_close
          u-pullr u-clearfix js-close"
          title="Close">&times;</a>
      <h2>{{ project.title }}</h2>
      {{ project.abstract_html()|safe }}

      {# TODO make macro #}
      <div class="rectangular_progress
                  rectangular_progress--mini
                  rectangular_progress--secondary">
        {% set percent_raised = project.account.percent_raised() %}
        <div class="rectangular_progress__bar">
          <div class="rectangular_progress__filled"
              style="width: {{ percent_raised }}%;">
          </div>
        </div>
        <span style="left: {{ percent_raised }}%;"
            class="rectangular_progress__line
                  rectangular_progress__line--bottom">
        </span>
        <span class="rectangular_progress__point
                     rectangular_progress__point--bottom
                     t-title--4"
            style="left: {{ percent_raised }}%;">
          {{ humanize_cents(project.account.total_raised()) }} raised
        </span>

        <span class="rectangular_progress__point
                     u-align_r t-heading--4 t--secondary" style="right: 0;">
           {{ humanize_cents(project.account.remaining()) }} needed
          <br><strong class="t-title--5 t--gray--2">
            to reach {{ humanize_cents(project.account.total_cost()) }} goal
          </strong><br>
        </span>
        <span style="left: 100%;"
            class="rectangular_progress__line
                   rectangular_progress__line--neutral">
        </span>
      </div>
      <a class="button button--sm button--primary"
         href="{{ url("donate project", slug=project.slug) }}#amount-form">
       Give to the project</a>
      <a class="t-single_nav u-pullr t-nom"
         href="{{ url("donate project", slug=project.slug) }}">
        Read more</a>
    </section>
  </article>
{%- endmacro %}

