{% extends "donations/base.jinja" %}

{% block content_class %}donate-form{% endblock %}
{% block custom_js %}
<script type="text/javascript" src="{{ static("peacecorps/js/donation.js") }}"></script>
{% endblock %}

{% block content %}
  <section class="blurb blurb--sm">
    <p> Project Code: {{project_code }} </p>
    <p> Amount: {{humanize_cents(amount)}} </p>
  </section>

  <section class="section full_banner full_banner--neutral">

    <form action="" method="post" class="form section__content">
      {% csrf_token %}
      <fieldset>
        <legend><h2>Your information</h2>
          <p class="t-body--sm">(so we can send you a tax receipt)</p>
        </legend>
        <div class="form__field form__field--single">
            {{form.is_org.errors}}
            <div class="form__field__input">{{form.is_org}}</div>
            <label for="id_donor_type" class="form__field__label">
              {{form.is_org.label}}</label>
        </div>

        <div class="form__field shown-with-organization">
            {{form.organization_name.errors}}
            <label for="id_organization_name" class="form--required
                form__field__label">
              organization Name</label>
            <div class="form__field__input">{{form.organization_name}}</div>
        </div>

        <div class="form__field shown-with-organization">
            {{form.organization_contact.errors}}
            <label for="id_organization_contact" class="form--required
              form__field__label">
                organization Contact</label>
            <div class="form__field__input">{{form.organization_contact}}</div>
        </div>

        <div class="form__field shown-with-individual">
            {{form.payer_name.errors}}
            <label for="id_payer_name" class="form--required form__field__label">
              full name</label>
            <div class="form__field__input">{{form.payer_name}}</div>
        </div>

        <div class="form__field">
            {{form.billing_address.errors}}
            <label for="id_billing_address" class="form--required form__field__label">
              street address</label>
            <div class="form__field__input">{{form.billing_address}}</div>
        </div>

        <div class="form__field">
            {{form.billing_address.errors}}
            <label for="id_billing_address_extra"
                class="form__field__label">
              address cont.(optional)</label>
            <div class="form__field__input">{{form.billing_address_extra}}</div>
        </div>

        <div class="form__field">
            {{form.billing_city.errors}}
            <label for="id_billing_city" class="form--required form__field__label">
              city</label>
            <div class="form__field__input field--sm">{{form.billing_city}}</div>
        </div>

        <div class="form__field">
            {{form.billing_state.errors}}
            <label for="id_billing_state" class="form--required form__field__label">
              state</label>
            <div class="form__field__input">{{form.billing_state}}</div>
        </div>

        <div class="form__field">
            {{form.billing_zip.errors}}
            <label for="id_billing_zip" class="form--required form__field__label">
              zip code</label>
            <div class="form__field__input field--sm">{{form.billing_zip}}</div>
        </div>

        <div class="form__field">
            {{form.country.errors}}
            <label for="id_country" class="form--required form__field__label">
              country</label>
            <div class="form__field__input">{{form.country}}</div>
        </div>

        <div class="form__field">
            {{form.email.errors}}
            <label class="form__field__label" for="id_email">email</label>
            <div class="form__field__input">{{form.email}}</div>
        </div>


        <div class="form__field">
            {{form.phone_number.errors}}
            <label class="form__field__label" for="id_phone_number">phone</label>
            <div class="form__field__input">{{form.phone_number}}</div>
        </div>
      </fieldset>

      <fieldset>
        <legend><h2>Payment Method</h2></legend>
        <div class="form__field">
            {{form.payment_type.errors}}
            <label for='id_payment_type' class="form--required form__field__label">
              </label>
            <div class="form__field__input">{{form.payment_type}}</div>
        </div>
      </fieldset>

      <fieldset>
        <legend><h2>Options</h2></legend>

        <div class="form__field form__field--single">
            {{form.dedication.errors}}
            <div class="form__field__input">
              {{form.dedication}}
            </div>
            <label for="id_dedication" class="form__field__label">
              I wish to donate in honor or in
              memory of someone.
            </label>
        </div>
        <fieldset class="dedication_details">
            <legend>Dedication Information</legend>
            <div  class="form__field">
                {{form.dedication_name.errors}}
                <label class="form__field__label" for='id_dedication_name'>
                  name</label>
                <div class="form__field__input">{{form.dedication_name}}</div>
            </div>

            <div class="form__field">
                {{form.dedication_type.errors}}
                <label class="form__field__label" for='dedication_type'>
                  type of dedication</label>
                <div class="form__field__input" id="dedication_type">
                {{form.dedication_type}}</div>
            </div>

            <legend><p class="honoree_swap">Send the honoree a letter so they
                know you were thinking of them: </p></legend>

            <div id="dedication_contact_wrapper">
                {{form.dedication_contact.errors}}
                <label class="form__field__label" for='id_dedication_contact'>
                  family contact</label>
                <div class="form__field__input">{{form.dedication_contact}}</div>
            </div>

            <div class="form__field">
                {{form.dedication_email.errors}}
                <label class="form__field__label" for='id_dedication_email'>
                  email</label>
                <div class="form__field__input">{{form.dedication_email}}</div>
            </div>

            <div class="form__field">
                {{form.dedication_address.errors}}
                <label class="form__field__label" for='id_dedication_address'>
                  mailing address</label>
                <div class="form__field__input">
                  {{form.dedication_address}}</div>
            </div>

            <div class="form__field">
                {{form.card_dedication.errors}}
                <label class="form__field__label form__field__label--align_t"
                    for='id_card_dedication'>
                  message</label>
                <div class="form__field__input">{{form.card_dedication}}</div>
            </div>

            <div class="form__field">
                {{form.dedication_consent.errors}}
                <label for='id_dedication_consent'
                    class="form__field__label form__field__label--align_t">
                  information consent</label>

                <ul id="id_dedication_consent" class="form__field__input">
                <li><label for="id_dedication_consent_0" class="honoree_swap">
                    <input checked="checked" id="id_dedication_consent_0"
                     name="dedication_consent" type="radio"
                     value="yes-dedication-consent" />
                    I authorize the Peace Corps to make my name and contact
                    information available to the honoree.
                    </label>
                </li>
                <li><label for="id_dedication_consent_1" class="honoree_swap">
                    <input id="id_dedication_consent_1" name="dedication_consent"
                     type="radio" value="no-dedication-consent" />
                    I do not authorize the Peace Corps to make my name and
                    contact information available to the honoree.
                    </label>
                </li>
                </ul>
            </div>
        </fieldset>

        <div class="form__field form__field--single">
            {{form.email_consent.errors}}
            <div class="form__field__input">{{form.email_consent}}</div>
            <label for="id_email_consent" class="form__field__label">
              Please send me updates on this project and others.
            </label>
        </div>

        <div class="form__field form__field--single">
          {{form.information_consent.errors}}
          <div class="form__field__input">{{ form.information_consent }}</div>
          <label for="id_information_consent" class="form__field__label">
            Make my contact info available to the volunteer
          </label>
        </div>

        <div class="form__field">
          {{form.comments.errors}}
          <label for='id_comments' class="form__field__label
              form__field__label--align_t">
            please use this box if you want to send a message of encouragement
            to this project's volunteer.
          </label>
          <div class="form__field__input">
            {{form.comments}}
          </div>
        </div>

        <div class="form__field form__field--single">
          {{form.interest_conflict.errors}}
          <div class="form__field__input">
            {{form.interest_conflict}}
          </div>
          <label for id="id_interest_conflict" class="form__field__label">
            I'm doing business with the Peace Corps
          </label>
          <p class="t-body--sm">
            If you, your business, your employer, or an immediate family
            member is currently doing business, or seeking to do business with
            Peace Corps, or otherwise have business or financial interests
            that may be affected by Peace Corps please check the box above and
            contact the Peace Corps Partnership Program at 202.692.2170 or
            <a href="mailto:donate@peacecorps.gov">donate@peacecorps.gov</a>. Note: Serving as a Peace Corps Volunteer is
            not a business or financial interest.
          </p>
        </div>

        {% for hidden in form.hidden_fields() %}
            {{hidden}}
        {% endfor %}

        <div class="u-align_c">
          <button type="submit" class="button button--primary">
            Confirm information</button>
        </div>
      </fieldset>

    </form>
  </section>
{% endblock %}
