{% extends "donations/base.jinja" %}

{% block title %}PEACECORPS{% endblock %}
{% block header %}PEACECORPS{% endblock %}
{% block content_class %}landing{% endblock %}
{% block custom_js %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script type="text/javascript" src="{{ static("peacecorps/js/landing.js") }}"></script>
{% endblock %}

{% block content %}

<h3>This is a placeholder for the General Fund donate page! Here, have some variables:</h3>

<p>The Fund's name: {{general.name}}!</p>

<p>The fund's pay.gov code: {{general.account.code}}</p>
<p>Amount currently in the fund: {{general.account.current}}</p>

<h3>This is an HTML description field, so the Peace Corps team can edit the contents of the page from the admin:</h3>

{{general.description|safe}}

{% endblock %}
