<html lang='en'>
<head>
    <title>{{campaign.name}}</title>
</head>
<body>

<img src="{{campaign.featured_image.url}}" height="300px"></img>

<h2>{{campaign.name}}</h2>

{% for project in featured %}
<div>{{project.title}}<a href="/donate/project/{{project.slug}}"><img src="{{project.featured_image.url}}" height="300px"></a></div>
{% endfor %}

<h3>{{projects.count()}} active projects</h3>

<p>{{campaign.fund.fundcurrent / 100}}</p>

<h3>Project Field Reports</h3>

{% for project in projects %}
<div><a href="/donate/project/{{project.slug}}">{{project.title}}</a></div>
{% endfor %}

</body>
</html>
