{% extends "donations/base.jinja" %}

{% block title %}Peace Corps{% endblock %}
{% block header %}Peace Corps{% endblock %}
{% block content_class %}landing{% endblock %}

{% block content %}

{# @todo: We haven't re-implemented the campaign design #}
{# commenting out the featured campaign logic, since the model has changed.
{% if featuredcampaign %}
<div class="full_bg full_bg--lg" style="
    background-image: url('{{featuredcampaign.featured_image.url}}');
  ">
</div>
<section style="height: 27.75em;">
  <section class="full_banner"
      style="margin-top: 15em;">
      <h2 class="t-blurb--lg">{{featuredcampaign.tagline}}</h2>
      <a href="{{url("donate campaign", slug=featuredcampaign.slug)}}"
         style="margin-bottom: -1.5em"
         class="button button--md button--secondary">
        {{featuredcampaign.call}}
      </a>
  </section>
</section>
<section class="blurb">
  <h2 class="t-blurb--md t--black">Archer 100 brief inspirational call to
    action encouraging visitors to give to the general fund.
  </h2>
  <a href="{{url("donate campaign", slug=featuredcampaign.slug)}}"
     class="button button--md button--primary">
    Give to {{featuredcampaign.name}}
  </a>
  <h4 class="t-title--4 blurb__spacing">
    <a href="{{url("donate campaign", slug=featuredcampaign.slug)}}">
      Explore projects and funds</a>
  </h4>
</section>
{% else %} #}
<div class="full_bg full_bg--lg" style="background-image:
    url('{{media("Ultrasound-Machine-by-Clark-Maxwell-CC-BY-ND-NC.jpg")}}');
  ">
</div>
{# The navigation should really belong in the base file somehow #}
<nav class="main_nav" style="margin-top: 37em">
  <ul class="main_nav__list">
    <li class="main_nav__link t-title--4">
      <a href="#featured">
        Featured Projects</a></li>
    <li class="main_nav__link t-title--4">
      <a href="{{url("donate projects funds")}}">
        Projects and Funds</a></li>
    <li class="main_nav__link t-title--4">
      <a href="{{url("donate faqs")}}">
        Donating FAQs</a></li>
  </ul>
</nav>
<section class="blurb blurb--sm">
  <div class="t-blurb--md t--black">
    Brief, inspirational welcome message inviting visitors to explore here
    and then to give. Lorem ipsum dolor sit amet, consetetur sadipscing
    elitr, sed diam nonumy eirmod.
  </div>
</section>
{# endif #}

<section class="section">
  <section class="section__content full_banner full_banner--neutral">
    <h1 id="featured" class="t-title--1">Featured Projects</h1>
    {% for project in featuredprojects %}
      <article class="section__box section--white u-clearfix">
        <div class="u-hv_center--block grid--60 u-clearfix"
              {# Remove height once image works #}
            style="height: 25em;
              background-image: url('{{project.featured_image.url}}')">
          <a href="{{url("donate project", slug=project.slug)}}"
               class="button button--sm button--primary
               u-hv_center--block__content">
             Give to this Project
          </a>
        </div>
        <div class="grid--40 u-clearfix">
          {% if project.issue() %}
            <div class="issue bg_img--icon"
                 style="background-image: url('{{project.issue().icon.url}}');"
                 ><span class="t-icon">{{project.issue().name}}</span></div>
          {% endif %}
          <h2 class="t-heading--2">
            {% if project.tagline %}{{project.tagline}}
            {% else %}Help this Project{%endif%}
          </h2>
          <div class="abstract">{{project.abstract_html()|safe}}</div>
          <a class="t-single_nav u-pullr t-nom"
              href="{{url("donate project", slug=project.slug)}}">
            Read Their
          Story</a>
        </div>
      </article>
    {% endfor %}
  </section>
</section>

<section class="section">
  <section class="section__content">
    <h1 class="t-title--1">Projects &amp; Funds</h1>
    <div class="u-hv_center--block bg_img--centered bg_img--banner"
         style="background-image: url('{{media("Ultrasound-Machine-by-Clark-Maxwell-CC-BY-ND-NC.jpg")}}');">
      <a href="{{url("donate projects funds")}}"
         class="button button--sm button--primary u-hv_center--block__content">
         Explore and Give
      </a>
    </div>
    <div class="u-hv_center--block">
      <p>Brief blurb touting the search and sort tool, lorem ipsum dolor amet
      lorem ipsum dolor.</p>
    </div>
  </section>
</section>

<section class="section">
  <div class="section__content full_banner full_banner--neutral">
    <h1 class="t-title--1">About Donating</h1>
    <div class="blurb">
      <h2 class="t-blurb--md t--black">
        Lorem ipsum dolor amet, lorem ipsum dolor amet, lorem ipsum dolor
        amet, lorem ipseum dolor amet, lorem.</h2>
    </div>
    <aside class="section">
      <h2 class="t-title--2 u-pullr"
          ><a href="{{url("donate faqs")}}">Donating FAQs</h2></a></h2>
    </aside>
  </div>
</section>
{% endblock %}
