<html lang='en'>
<head>
    <title></title>
    <link rel="stylesheet" href="{{ static("peacecorps/css/donation.css") }}" />
</head>
<body>
    <p> Project Code: {{project_code }} </p>
    <p> Amount: {{amount}} </p>

    <form action="" method="post">
        {% csrf_token %}

        <div>
            {{form.donor_type.errors}}
            <label for="id_donor_type">Type of donor</label>
            <div class="value">{{form.donor_type}}</div>
        </div>

        
        <div class="shown-with-organization">
            {{form.organization_name.errors}}
            <label for="id_organization_name" class="required">Organization Name</label>
            <div class="value">{{form.organization_name}}</div>
        </div>

        <div class="shown-with-organization">
            {{form.organization_contact.errors}}
            <label for="id_organization_contact" class="required">Organization Contact</label>
            <div class="value">{{form.organization_contact}}</div>
        </div>

        <div class="shown-with-individual">
            {{form.name.errors}}
            <label for="id_name" class="required">Name</label>
            <div class="value">{{form.name}}</div>
        </div>

        <div>
            {{form.billing_address.errors}}
            <label for="id_billing_address" class="required">Street Address</label>
            <div class="value">{{form.billing_address}}</div>
        </div>

        <div>
            {{form.city.errors}}
            <label for="id_city" class="required">City</label>
            <div class="value">{{form.city}}</div>
        </div>
        <div>
            {{form.state.errors}}
            <label for="id_state" class="required">State</label>
            <div class="value">{{form.state}}</div>
        </div>
        <div>
            {{form.zip_code.errors}}
            <label for="id_zip_code" class="required">Zip Code</label>
            <div class="value">{{form.zip_code}}</div>
        </div>
        <div>
            {{form.country.errors}}
            <label for="id_country" class="required">Country</label>
            <div class="value">{{form.country}}</div>
        </div>

        <div>
            {{form.phone_number.errors}}
            <label for="id_phone_number" class="required">Phone</label>
            <div class="value">{{form.phone_number}}</div>
        </div>

        <div>
            {{form.email_consent.errors}}
            <div class="checkbox">{{form.email_consent}}</div>
            <label for="id_email_consent">
            Yes, I would like to stay informed of exciting Volunteer stories
            from the field and upcoming opportunities to partner with the
            Peace Corps. Peace Corps will not share your information  with
            outside organizations. 
            </label>
        </div>

        <div>
            {{form.payment_type.errors}}
            <label for='id_payment_type' class="required">Payment Type</label>
            <div class="value">{{form.payment_type}}</div>
        </div>

        <div>
            {{form.comments.errors}}
            <label for='id_comments'>Comments (special instructions regarding your donation or comments for the Volunteer.)</label>
            <div class="value">{{form.comments}}</div>
        </div>

        <div>
            {{form.dedication.errors}}
            <div class="checkbox">{{form.dedication}}</div>
            <label for='id_dedication'>
            I wish to donate in honor or in memory of someone.
            </label>
        </div>

        <div id='dedication_details'>
            
            <div>
                {{form.dedication_name.errors}}
                <label for='id_dedication_name'>Name</label>
                <div class="value">{{form.dedication_name}}</div>
            </div>

            <div>
                {{form.dedication_type.errors}}
                <div class="value" id="dedication_type">{{form.dedication_type}}</div>
            </div>

            <p class="honoree_swap">Send the honoree a letter so they know you were thinking of them: </p>
            <div id="dedication_contact_wrapper">
                {{form.dedication_contact.errors}}
                <label for='id_dedication_contact'>Family Contact</label>
                <div class="value">{{form.dedication_contact}}</div>
            </div>

            <div>
                {{form.dedication_email.errors}}
                <label for='id_dedication_email'>Email</label>
                <div class="value">{{form.dedication_email}}</div>
            </div>

            <div>
                {{form.dedication_address.errors}}
                <label for='id_dedication_address'>Mailing address</label>
                <div
                class="value">{{form.dedication_address}}</div>
            </div>

            <div>
                {{form.card_dedication.errors}}
                <label for='id_card_dedication'>Message</label>
                <div class="value">{{form.card_dedication}}</div>
            </div>

            <div>
                {{form.dedication_consent.errors}}
                <label for='id_dedication_consent'>Information Consent</label>

                <ul id="id_dedication_consent">
                <li><label for="id_dedication_consent_0" class="honoree_swap">
                    <input checked="checked" id="id_dedication_consent_0" name="dedication_consent" type="radio" value="yes-dedication-consent" />
                    I authorize the Peace Corps to make my name and contact information available to the honoree.
                    </label>
                </li>
                <li><label for="id_dedication_consent_1" class="honoree_swap">
                    <input id="id_dedication_consent_1" name="dedication_consent" type="radio" value="no-dedication-consent" />
                    I do not authorize the Peace Corps to make my name and contact information available to the honoree.
                    </label>
                </li>
                </ul>
            </div>
        </div>

        <div>
            {{form.interest_conflict.errors}}
            <div class="checkbox">{{form.interest_conflict}}</div>
            <label for id='id_interest_conflict'>
            If you, your business, your employer, or an immediate family
            member is currently doing business, or seeking to do business with
            Peace Corps, or otherwise have business or financial interests
            that may be affected by Peace Corps please check the box above and
            contact the Peace Corps Partnership Program at 202.692.2170 or
            donate@peacecorps.gov. Note: Serving as a Peace Corps Volunteer is
            not a business or financial interest.
            </label>
        </div>

        <div>
            {{form.information_consent.errors}}
            <ul id="id_information_consent">
                <li><label for="id_information_consent_0">
                    <input checked="checked" id="id_information_consent_0" name="information_consent" type="radio" value="vol-consent-yes" />
                    I authorize the Peace Corps to make my name and contact information available to the honoree.
                    </label>
                </li>
                <li><label for="id_information_consent_1">
                    <input id="id_information_consent_1" name="information_consent" type="radio" value="vol-consent-no" />
                    I do not authorize the Peace Corps to make my name and contact information available to the honoree.
                    </label>
                </li>
            </ul>
        </div>

        {% for hidden in form.hidden_fields() %}
            {{hidden}}
        {% endfor %}

        <div><input type="submit" value="Confirm Information" /></div>
    </form>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ static("peacecorps/js/donation.js") }}"></script>
</body>
</html>
