<html lang='en'>
<head>
    <title>Peace Corps - Donate</title>
</head>
<body>

<h1>Peace Corps - Donate</h1>

<h2>All Countries</h2>
{% for country in countries %}
<div><a href="/donate/country/{{country.slug}}"><img src="{{country.featured_image.url}}" height="200">
{{country}}</a></div>
{% endfor %}

</body>
</html>
