{% extends "donations/base.jinja" %}

{% block title %}Peace Corps - Donate{% endblock %}
{% block header %}Peace Corps - Donate{% endblock %}
{% block content_id %}project{% endblock %}

{% block navigation %}
<h2><a class="back" href="{{ url("donate issue", slug=project.issue.slug) }}">&lt;</a> {{project.title}}</h2>
{% endblock %}

{% block content %}
<p id="tagline">{{project.tagline}}</p>

<div id="featured-image">
  <img src="{{project.featured_image.url}}" alt="{{project.featured_image.description}}">
  <figcaption>{{project.featured_image.caption}}</figcaption>
</div>

<div id="donation-stats">
  {% if project.volunteer.profile_image %}
    <div id="volunteer-image">
      <img src="{{project.volunteer.profile_image.url}}"
           alt="{{project.volunteer.profile_image.description}}">
    </div>
  {% endif %}
  <div id="volunteer-info">
    <p><strong>{{project.volunteer.name}}</strong> from <strong>{{project.volunteer.homecity}}, {{project.volunteer.homestate}}</strong></p>
    {% set funded_percent = project.fund.percent_funded() %}
    <div id="funded-chart">
      <div id="funded-amount-bar" style="max-width: {{funded_percent }}%;">&nbsp;</div>
      <div id="funded-amount-text">{{ funded_percent|int|round }}% funded</div>
    </div>
    <p>Funds sought: <strong>${{project.fund.fundgoal/100}}</strong></p>

    <div id="donate-container"><button>
    {% if project.fund.funded() %}Donate to help similar projects {% else %}Donate{% endif %}
    </button></div>
  </div>
</div>

<div id="description">
    {{project.description|safe}}
</div>
{% endblock %}
