{% extends "donations/base.jinja" %}

{% block title %}PEACECORPS{% endblock %}
{% block header %}PEACECORPS{% endblock %}
{% block content_class %}landing{% endblock %}
{% block custom_js %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script type="text/javascript" src="{{ static("peacecorps/js/landing.js") }}"></script>
{% endblock %}

{% block content %}

{% if featuredcampaign %}
<div class="full_bg" style="
    background-image: url('{{featuredcampaign.featured_image.url}}');
    height: 46em;
  ">
</div>
<section style="height: 23.5em;">
  <section class="full_banner full_banner--support_color"
      style="margin-top: 15em;">
    <div class="showcase showcase--shift_sm">
      <h2 class="t-heading--white">{{featuredcampaign.tagline}}</h2>
      <a href="{{url("donate campaign", slug=featuredcampaign.slug)}}"
         style="margin-bottom: -1.5em"
         class="button button--secondary">{{featuredcampaign.call}}</a>
    </div>
  </section>
</section>
{% endif %}

<section class="showcase showcase--main showcase--neutral">
  <header class="section_starter">
    <h1 class="section_starter__content t-heading_xlg">Issues</h1>
  </header>
  <div><!-- This div is needed because of "broken" functionality in
            bourbon neat which requires a wrapping div to use the
            omega(n) functionality. -->
  {% for campaign in sectors %}
    <div class="showcase__column-4">
      <a class="bubble"
         href="{{url("donate campaign", slug=campaign.slug)}}">
        <div class="bubble__content symbol">
          <img class="symbol__image"
               width="80" height="80"
               src="{{campaign.icon.url}}" />
          <span class="symbol__text">{{campaign.name}}</span>
        </div>
      </a>
    </div>
  {% endfor %}
  </div>
</section>

<section class="showcase showcase--main">
  <header class="section_starter">
    <h1 class="section_starter__content t-heading_xlg">Funds</h1>
  </header>
  <h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fermentum
    eleifend massa, et rhoncus nisl molestie vitae. In non odio ac metus ornare
    cursus.
  </h2>
  <div class="showcase--col3_centered">
       <!-- This div is needed because of "broken"
            functionality in
            bourbon neat which requires a wrapping div to use the
            omega(n) functionality. -->
    <div class="showcase--col3_centered__col">
      <a class="bubble bubble--neutral_dark" href="donate/general">
        <div class="bubble__content">
          <span class="t-heading_lg">General</span>
        </div>
      </a>
    </div>
    <div class="showcase--col3_centered__col">
      <a class="bubble bubble--neutral_dark" href="donate/countries">
        <div class="bubble__content">
          <span class="t-heading_lg">Country</span>
        </div>
      </a>
    </div>
    <div class="showcase--col3_centered__col">
      <a class="bubble bubble--neutral_dark" href="donate/memorial">
        <div class="bubble__content">
          <span class="t-heading_lg">Memorial</span>
        </div>
      </a>
    </div>
  </div>
</section>


<section class="showcase showcase--main showcase--neutral">
  <header class="section_starter">
    <h1 class="section_starter__content t-heading_xlg">Projects</h1>
  </header>
  {% for project in featuredprojects %}
    <article class="showcase_inset--lg bordered bordered--white bm3">
      <div class="u-hv_center--block bg_img--centered bg_img--banner"
          style="background-image: url('{{project.project.featured_image.url}}')">
        <a href="{{url("donate project", slug=project.project.slug)}}"
             class="button button--primary u-hv_center--block__content">
           Read their story
        </a>
      </div>
      <h2 class="t-heading--secondary t--no_bm">{{project.project.tagline}}</h2>
    </article>
  {% endfor %}
</section>

<h2>More Projects</h2>
<section class="more-projects">
  <div class="search-space">
    <input type="text" placeholder="Search for volunteer or project" />
  </div>
{% for project in projects %}
  <div class="project-row" tabindex="0">
    <div class="project-name">{{project.title}}</div>
    <div class="project-country">{{project.country.name}}</div>
    <div class="project-expanded">
      <div class="volunteer">{{project.volunteername}} from
      {{project.volunteerhomestate}}</div>
      <div class="remaining">{{humanize_amount(project.account.remaining())}}
        until funded</div>
      <div class="short-desc">{{project.tagline}}</div>
      <div><a href="{{url("donate project", slug=project.slug)}}"
         >Fund this project or read more</a></div>
    </div>
  </div>
{% endfor %}
</section>

{% endblock %}
