{% extends "donations/base.jinja" %}

{% block title %}PEACECORPS{% endblock %}
{% block header %}PEACECORPS{% endblock %}
{% block content_class %}landing{% endblock %}
{% block custom_js %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script type="text/javascript" src="{{ static("peacecorps/js/landing.js") }}"></script>
{% endblock %}

{% block content %}

This is a placeholder for the Memorial Fund donate page! Here, have some variables:

<h3>This Memorial Fund is called:</h3> {{memfund.name}}

<h3>The fund's featured image:</h3>

<img src="{{memfund.featured_image.file.url}}" height="300px"></img>

<p>The fund's pay.gov code: {{memfund.account.code}}</p>
<p>Amount currently in the fund: {{memfund.account.current/100}}</p>

<h3>This is an HTML description field, so the Peace Corps team can edit the contents of the page from the admin:</h3>

{{memfund.description.html|safe}}

{% endblock %}
