{% extends "donations/base.jinja" %}

{% block title %}Peace Corps{% endblock %}
{% block header %}Peace Corps{% endblock %}
{% block content_class %}landing{% endblock %}

{% block content %}

<nav class="js-discoverNav">
  <ul>
    <li><a href="#" data-filter-type="issue">Issues</a></li>
    <li><a href="#" data-filter-type="country">Countries</a></li>
    <li><a href="#" data-filter-type="volunteer">Volunteers</a></li>
  </ul>
</nav>
<article class="js-discoverApp">
  <ul class="js-filterable" data-filter-type="issue">
  {% for issue in issues %}
    {% for campaign in issue.campaigns.all() %}
      <li>
        {{ render_campaign(campaign) }}
      </li>
    {% endfor %}
      {# TODO figure out projects rather the featured projects #}
    {% for project in issue.projects() %}
      <li>
        {{ render_project(project, 'issue') }}
      </li>
    {% endfor %}
  {% endfor %}
  </ul>
  <ul class="js-filterable" data-filter-type="volunteer">
  {% for project in projects %}
    <li>
      {{ render_project(project, 'volunteer') }}
    </li>
  {% endfor %}
  </ul>
  <ul  class="js-filterable" data-filter-type="country">
  {% for country in countries %}
    <li>
      {{ render_country_campaign(country) }}
    </li>
    {# TODO figure out projects rather the featured projects #}
    {% for project in country.project_set.all() %}
      <li>
        {{ render_project(project, 'country') }}
      </li>
    {% endfor %}
  {% endfor %}
  </ul>
</article>

{% endblock %}

{% macro country_map(code) -%}
  <div class="mask mask--oval mask--bordered u-h_center--block map">
    <img src="{{ static("peacecorps/img/countries/" + code.lower()
                        + ".svg") }}"
         class="mask__content" />
  </div>
{%- endmacro %}

{% macro render_campaign(campaign) -%}
  {# TODO find way to link to media urls #}
  <aside>
    <img src="{{ media(campaign.icon or '') }}" alt="{{ campaign.name }}" />
  </aside>
  <article>
    <h2>{{ campaign.name }}</h2>
    <p>{{ campaign.description.html|safe }}</p>
    <a href="{{ url("donate campaign", slug=campaign.slug) }}">
      Give to this fund</a>
  </article>
{%- endmacro %}

{% macro render_country_campaign(campaign) -%}
  <aside>
    {{ country_map(campaign.country.code) }}
  </aside>
  <article>
    <h2>{{ campaign.country.name }}</h2>
    <p>{{ campaign.description }}</p>
    <a href="{{ url("donate campaign", slug=campaign.slug) }}">
      Give to this fund</a>
  </article>
{%- endmacro %}

{% macro render_project(project, ptype) -%}
  <header>
    <a aria-expanded="false" href="#"
       aria-controls="collapsible-{{ ptype }}-{{ project.id }}">
      {{ project.title }}</a>
  </header>
  <article class="js-collapsibleItem"
        id="collapsible-{{ ptype }}-{{ project.id }}" aria-hidden="true">
    <aside>
      <img src="{{ media(project.volunteerpicture or '') }}"
           alt="{{ project.volunteername }}" />
    </aside>
    <section>
      <h3>{{ project.title }}</h3>
      <p>{{ project.abstract_html()|safe }}</p>

      <div class="rectangular_progress rectangular_progress--secondary">
        {# TODO make macro #}
        {% set percent_completed = project.account.percent_funded() %}
        <div class="rectangular_progress__bar">
          <div class="rectangular_progress__filled"
              style="width: {{ percent_completed }}%;">
          </div>
        </div>
      </div>
      <a class="button button--sm button--primary" href="">
       Give to the project</a>
      <a href="{{ url("donate project", slug=project.slug) }}">
        Read more</a>
    </section>
  </article>
{%- endmacro %}

