{% extends "donations/base.jinja" %}

{% block content_class %}faqs{% endblock %}

{% block content %}
<section class="section">
  <div class="section__content u-clearfix">
    <p class="inset inset--md">
     Can't find the answer you need? <a href="mailto:donations@peacecorps.gov">Email us</a>!
    </p>
  </div>
</section>
<section>
  <ul>
    {% for faq in object_list %}
      {% set anchor = faq.slug or "faq-" + faq.pk|string %}
      <li>
        <header>
          <a aria-expanded="false" href="#{{anchor}}"
             aria-controls="{{anchor}}">{{faq.question}}</a>
        </header>
        <article class="js-collapsibleItem js-collapsibleNoHide"
          id="{{anchor}}">
          <h3>{{faq.question}}</h3>
          {{faq.answer.html|safe}}
        </article>
      </li>
  {% endfor %}
</section>
<a href="{{url("donate projects funds")}}" class="t-title--4"
   >Explore Projects and Funds</a>
{% endblock %}
