{% extends "donations/base.jinja" %}

{% block og_description %}{{ campaign.abstract_plaintext() }}{% endblock %}
{% block og_image %}{% if campaign.account.code == 'LGL-GEN' %}{{ static('peacecorps/img/og_lgl.jpg') }}{% else %}{{ super() }}{% endif %}{% endblock %}


{% block content_class %}fund-detail{% endblock %}
{% if campaign.featured_image %}
  {% set custom_top_image=campaign.featured_image.url %}
{% endif %}

{% include "donations/includes/donation-failed.jinja" %}

{% block content %}
<section class="section">
  <div class="section__content u-clearfix">
    <article class="inset article t-body--lg">
      <h2>{{campaign.name}}</h2>
      {{campaign.description.html|safe}}
    </article>
  </div>
</section>

<section class="section section--no_tm">
  <div class="section__content u-clearfix">
    {% include "donations/includes/amount-form.jinja" %}
  </div>
</section>
{% endblock content %}
