{% extends "donations/base.jinja" %}

{% block title %}Peace Corps - Donate{% endblock %}
{% block header %}Peace Corps - Donate{% endblock %}
{% block content_class %}fund-detail{% endblock %}

{% block content %}
<section class="section">
  <div class="section__content u-clearfix">
    <article class="inset inset--sm">
      <h2>{{campaign.name}}</h2>
      {{campaign.description.html|safe}}
    </article>
  </div>
</section>

<section class="section">
  <div class="section__content u-clearfix">
    {% include "donations/includes/amount-form.jinja" %}
  </div>
</section>

<a href="{{url("donate projects funds")}}" class="t-title--4"
   >Explore Projects and Funds</a>
{% endblock content %}
