{% extends "donations/base.jinja" %}
{% from "donations/includes/macros.jinja" import url_or %}

{% block content_class %}landing{% endblock %}
{% if featuredcampaign %}
  {% set featured_top_image=featuredcampaign.image.url %}
{% else %}
  {% set custom_top_image=static("peacecorps/img/landing-top.jpg") %}
{% endif %}

{% block banner %}
  {% if featuredcampaign %}
  {% set campaign=featuredcampaign.campaign %}
  <header class="banner banner--no_line t--white">
    <a class="logo__img" href="{{ url('donate landing') }}">
      <img src="{{ static('peacecorps/img/pc_logo.png') }}"
           class="u-inline" alt="Peace Corps Logo" />
    </a>
    <div class="logo">
      <h1 class="logo__text
      ">
        <a href="{{ url('donate landing') }}" class="t--white">
          Peace Corps
        </a>
      </h1>
      {% if title %}
        <h2 class="t-title--2 u-inline u-block--at_sm logo__suplementary
            separator--l separator--white separator--hide_sm"
            style="max-width: 26em">
          {{ title }}</h2>
      {% endif %}
    </div>
  </header>
  <header class="banner banner--support banner--no_line banner--align_bottom">
    <div class="t-heading--2 inset inset--lg u-align_c">
      {{ campaign.tagline }}
    </div>
    <div class="u-align_c" style="margin-bottom: -3em;">
      <a href="{{ url('donate campaign', slug=campaign.slug) }}"
         class="button button--sm button--secondary">
        {{ campaign.call }}</a>
    </div>
  </header>
  {% else %}{# Proceed normally #}{{ super() }}
  {% endif %}
{% endblock %}

{% block navigation %}
<nav class="main_nav section section--no_bm">
  <ul class="main_nav__list section__content">
    <li class="main_nav__link t-title--3">
      <a href="#featured">
        Featured Projects</a></li>
    <li class="main_nav__link t-title--3">
      <a href="{{url("donate projects funds")}}">
        Projects and Funds</a></li>
    <li class="main_nav__link t-title--3">
      <a href="{{url("donate faqs")}}">
        Donating FAQs</a></li>
  </ul>
</nav>
{% endblock %}

{% block content %}
{# The navigation should really belong in the base file somehow #}
<section class=" section blurb blurb--lg">
  <div class="t-blurb--md t--black">
    Peace Corps Volunteers help build clinics in villages, put books in
    schools, and improve access to nutritious food. Give today and help
    support projects like these.
  </div>
</section>

<section class="section inset--lg">
  <section class="section__content section__content--lg
      full_banner full_banner--neutral">
    <h1 id="featured" class="t-title--1">Featured Projects</h1>
    {% for project in featuredprojects %}
      <article class="section__box section--white u-clearfix">
        <div class="column nested_column--lg_greater_half
            u-clearfix u-hv_center--block">
          <img src="{{ project.featured_image.url }}"
            style="width: 100%; height: auto" />
          <a href="{{ url("donate project", slug=project.slug) }}"
               class="button button--sm button--primary
               u-hv_center--block__content">
             Give to this Project
          </a>
        </div>
        <div class="column nested_column--lg_two_lesser_half u-clearfix">
          {% set issue = project.issue() %}
          {% if issue %}
            <div class="bg_img--icon section__content--sm"
                 style="background-image: url({{issue.icon_color_url('grey')}})">
              <span class="t-icon">{{issue.name}}</span>
            </div>
          {% endif %}
          <h3 class="t-heading--3">
            <a href="{{ url("donate project", slug=project.slug) }}">
              {% if project.tagline %}{{ project.tagline }}
              {% else %}Help this Project{% endif %}
            </a>
          </h3>
          <p class="">{{ project.abstract_html()|safe }}</p>
          <a class="t-single_nav t-nom"
              href="{{url("donate project", slug=project.slug)}}">
            Read Their Story
            <i class="fa fa-angle-right icon icon--text"></i>
          </a>
        </div>
      </article>
    {% endfor %}
  </section>
</section>

<section class="section">
  <section class="section__content section__content--lg inset--lg">
    <h1 class="t-title--1">Projects &amp; Funds</h1>
    <div class="u-hv_center--block bg_img--centered bg_img--banner"
         style="background-image: url('{{static("peacecorps/img/funds-background.png")}}');">
      <a href="{{url("donate projects funds")}}"
         class="button button--sm button--primary u-hv_center--block__content">
         Explore and Give
      </a>
    </div>
    <div class="u-hv_center--block">
      <p class="t-body--md">Explore Volunteer Projects, Country and Issue Funds,
        and other ways to support the Peace Corps.</p>
    </div>
  </section>
</section>

<section class="section inset--lg">
  <div class="section__content section__content--lg
      full_banner full_banner--neutral">
    <h1 class="t-title--1">About Donating</h1>
    <div class="blurb blurb--sm">
      <h2 class="t-blurb--md t--black">
       100% of your tax-deductible donation to the Peace Corps Partnership Program goes directly towards funding volunteer projects around the world.</h2>
    </div>
    <aside>
      <h2 class="t-title--2 u-pullr"
          ><a href="{{url("donate faqs")}}">Donating FAQs</h2></a></h2>
    </aside>
  </div>
</section>
{% endblock %}
