{% extends "donations/base.jinja" %}

{% block og_description %} The Peace Corps holds dear the memory of all the Volunteers who have lost their lives while in service. Memorial funds, established by the Peace Corps at the request of a Volunteer’s family, allow friends, family, and others to donate to the Peace Corps Partnership Program in honor of the life and service of the Volunteer.{% endblock %}

{% block content_class %}memorial-funds{% endblock %}
{% set custom_top_image=static("peacecorps/img/memorial-funds-top.jpg") %}

{% block content %}

<section class="blurb blurb--lg">
  <div class="t-blurb--md t--black">
    The Peace Corps holds dear the memory of all the Volunteers who have lost their lives while in service. Memorial funds, established by the Peace Corps at the request of a Volunteer’s family, allow friends, family, and others to donate to the Peace Corps Partnership Program in honor of the life and service of the Volunteer.
  </div>
</section>
<section class="section inset--lg">
  <section class="section__content
      full_banner full_banner--neutral full_banner--flush">
    <div class="inset inset--lg">
      <h1 class="t-title--1">Memorial Funds</h1>
      {% for fund in memorial_funds %}
        <section class="section--white section__box u-clearfix">
              <aside class="column nested_column--lg_two_lesser_half">
                <div class="mask mask--oval u-h_center--block">
                  <img class="mask__content--md"
                       src="{{fund.icon.url}}"
                       alt="{{fund.icon.description}}" />
                </div>
              </aside>
            <article class="column nested_column--lg_greater_half u-clearfix">
              <a href="{{url("donate campaign", slug=fund.slug)}}">
                <h3 class="t-heading--3 t--primary">{{ fund.memorial_name }}</h3>
              </a>
              <p>{{ fund.abstract_html()|safe }}</p>
            </article>
        </section>
      {% endfor %}
    </div>
  </section>
</section>

{% endblock %}
