{% extends "donations/base.jinja" %}

{% block content_class %}memorial-funds{% endblock %}
{% set custom_top_image=static("peacecorps/img/memorial-funds-top.png") %}

{% block content %}

<section class="blurb blurb--lg">
  <div class="t-blurb--md t--black">
    Since the Peace Corps began in 1961, more than 200,000 Peace Corps Volunteers have served in 139 countries.  Of these dedicated men and women, 297 have sacrificed not only their energies and time, but also their lives while pursuing the Peace Corps mission. They are remembered here on this site, so that all may honor and celebrate their lives and service.
  </div>
</section>
<section class="section inset--lg">
  <section class="section__content
      full_banner full_banner--neutral full_banner--flush">
    <div class="inset inset--lg">
      <h1 class="t-title--1">Memorial Funds</h1>
      {% for fund in memorial_funds %}
        <section class="section--white section__box u-clearfix">
              <aside class="column nested_column--lg_two_lesser_half">
                <div class="mask mask--oval u-h_center--block">
                  <img class="mask__content--md"
                       src="{{fund.icon.url}}"
                       alt="{{fund.icon.description}}" />
                </div>
              </aside>
            <article class="column nested_column--lg_greater_half u-clearfix">
              <a href="{{url("donate campaign", slug=fund.slug)}}">
                <h3 class="t-heading--3 t--primary">{{ fund.memorial_name }}</h3>
              </a>
              <p>{{ fund.description.html|safe }}</p>
            </article>
        </section>
      {% endfor %}
    </div>
  </section>
</section>

{% endblock %}
