{% extends "donations/base.jinja" %}

{% block title %}Peace Corps - Donation Failure{% endblock %}
{% block header %}Peace Corps - Donation Failure{% endblock %}

{% block content %}
{% include "donations/includes/project-top.jinja" %}
{% endblock %}
