<html lang='en'>
<head>
    <title>Review</title>
</head>
<body>
    <h1> Review Your Contribution Information </h1>

    <p> Please note: Upon submitting this form, you will be redirect to the
    Pay.gov website to complete the payment transaction. Pay.Gov is the secure
    payment portal of the United States Department of the Treasury. </p>

    <p> {{data.name}} </p>

    <p>
        {{data.billing_address}} <br />
        {{data.billing_city}}, {{data.billing_state}} {{data.billing_zip}}<br />
        {{data.country}} <br />
    </p>

    <p>
        {{data.phone_number}} <br />
        {% if data.email %}
            {{data.email}}
        {% endif %}
    </p>


    <form action="{{oci_servlet_url}}" method="POST">
        <input type="hidden" name="agency_id" value="{{agency_id}}"/>
        <input type="hidden" name="agency_tracking_id"
                             value="{{agency_tracking_id}}"/>
        <input type="hidden" name="app_name" value="{{app_name}}"/>
        <input type="submit" name="senddata" value="Enter Payment Information"/>
    </form>
</body>
</html>

