/*
 * All base rules concerning elements
 */


html, body {
  margin: 0;
  overflow-x: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border-width: 0;
}

ul {
  margin: 0;
}

button {
  cursor: pointer;
}
