/*
 * Type styles.
 */

@import "globals";
@import "mixins";

$leading-xsm: 1.1;
$leading-sm: 1.3;
$leading-md: 1.4;
$leading-lg: 1.6;
$leading-xlg: 2;

$weight-light: 100;
$weight-book: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

html {
  font-size: 62.5%;
}
body {
  color: $primary;
  @include font-size(1.5);
  font-family: Archer;
  font-weight: $weight-book;
  line-height: $leading-md;
  text-transform: none;
}

// Modfifier extensions
.t--caps {
  letter-spacing: .09em;
  text-transform: uppercase;
}

.t--bold {
  font-weight: $weight-bold;
}

.t--primary {
  color: $primary;
}

.t--secondary {
  color: $secondary;
}

.t--white {
  color: $white;
}

.t--gray {
  color: $gray-1;
}

.t--black {
  color: $black;
}

/*
 * Headings are in the main content, serving as titles to body text.
 *
 * Default style of <h1-6>
 */
.t-heading {
  font-weight: $weight-medium;
  line-height: $leading-sm;
}
.t-heading--1 {
  @include font-size(3.8);
}
.t-heading--2 {
  @include font-size(2.8);
}
.t-heading--3 {
  @include font-size(2.2);
}
.t-heading--4 {
  @include font-size(1.8);
}
h1 {
  @extend .t-heading--1;
}
h2 {
  @extend .t-heading--2;
}
h3 {
  @extend .t-heading--3;
}
h4 {
  @extend .t-heading--4;
}
h1, h2, h3, h4, h5, h6 {
  @extend .t-heading;
}

/*
 * Body is the main body text.
 *
 * Default style of <p>, <span>, <button>
 */
.t-body {
  line-height: $leading-md;
}
.t-body--md {
  @extend .t-body;
  @include font-size(2.3);
  @include rem(margin, 1.2rem 0);
}
.t-body--sm {
  @extend .t-body;
  @include font-size(1.6);
  @include rem(margin, 1rem 0);
}
p, span, button {
  @extend .t-body--md;
}
p {
  color: $black;
  margin: 0;
}
// For every p that follows a p, add top margin.
p + p {
  margin-top: 1em;
}

/*
 * Title styles are for titles not associated with content.
 */
.t-title {
  @extend .t--caps;
  font-weight: $weight-medium;
}
.t-title--1 {
  @extend .t-title;
  @include font-size(3.8);
  @include rem(margin, 1.5rem 0);
}
.t-title--2 {
  @extend .t-title;
  @include font-size(2.8);
  @include rem(margin, 1.1rem 0);
}
.t-title--3 {
  @extend .t-title;
  @include font-size(2.0);
  @include rem(margin, 1rem 0);
}
.t-title--4 {
  @extend .t-title;
  @include font-size(1.6);
  @include rem(margin, 0.8rem 0);
}
.t-title--5 {
  @extend .t-title;
  @include font-size(1.2);
  @include rem(margin, 0.5rem 0);
}
.t-title--6 {
  @extend .t-title;
  @include font-size(0.9);
  @include rem(margin, 0.4rem 0);
}


/*
 * Blurbs are large pieces of readable (not uppercased) text that call out
 * bits of important information.
 */
.t-blurb {
  font-weight: $weight-light;
  line-height: $leading-md;
}
.t-blurb--lg {
  @extend .t-blurb;
  @include font-size(4.8);
  @include rem(margin, 2.5rem 0);
}
.t-blurb--md {
  @extend .t-blurb;
  @include font-size(3.8);
  @include rem(margin, 2rem 0);
}
.tblurb + .tblurb {
  margin-top: 0;
}


/*
 * Icon is for text that goes along with an icon
 */
.t-icon {
  @extend .t--caps;
  @extend .t--gray;
  @include font-size(1.6);
}


/*
 * Single-nav are single navigational elements, such as links to more content.
 */
.t-single_nav {
  @extend .t--caps;
  @include font-size(1.6);
  font-weight: $weight-medium;
  margin: 1.5em 0;
  text-decoration: none;
}


/*
 * Generic link styles.
 */
.t-link {
  color: $primary;
}
.t-link--gray {
  color: $gray-2;

  &:visited {
    color: lighten($gray-2, 15%);
  }
  &:hover {
    color: $primary;
  }
  &:active {
    color: lighten($primary, 10%);
  }
}

a {
  @extend .t-link;
}

.t-title--1 a, .t-title--2 a, .t-title--3 a {
  text-decoration: none;
}
