/*
 * Contains all sass utilities such as floats, clears, etc.
 */

@import "../globals";
@import "../mixins";


// A list with no list style and list spacing.
@mixin u-unmarked_list {
  padding: 0;
  li {
    list-style: none;
  }
}
.u-unmarked_list {
  @include u-unmarked_list;
}

.u-inline_list {
  * {
    display: inline-block;
  }
}

.u-inline {
  display: inline-block;
  vertical-align: middle;
}

.u-block--at_sm {
  @include media($sm) {
    display: block;
  }
}

// Classic clearfix
.u-clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.u-clearl {
  clear: left;
}

// Visually hide information but keep available for screen readers.
.u-visually_hidden {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

// Centers an block element vertically and horizontally.
.u-hv_center--block {
  position: relative;

  .u-hv_center--block__content {
    position: absolute;
    left: 50%;
    @include transform(translate(-50%, -50%));
    top: 50%;
  }
}

// Centers a block element horizontally.
.u-h_center--block {
  margin-left: auto;
  margin-right: auto;
}

.u-v_center--block {
  @include transform(translateY(-50%));
  position: relative;
  top: 50%;
}

// Alignment
.u-align_l {
  text-align: left;
}
.u-align_r {
  text-align: right;
}
.u-align_c {
  text-align: center;
}

.u-wrap {
  @include outer-container;
}

.u-pull {
  float: left;
}
.u-pullr {
  float: right;
}

