{% extends "donations/base.jinja" %}

{% block content %}
<section class="blurb blurb--sm t--black">
  <h1 class="t-blurb--md">Error</h1>
  <h4>
    The page you're looking for is unavailable. Sorry for the inconvenience.
    Please try one of the links below instead.
  </h4>
</section>
{% endblock %}


