{% extends "donations/base.jinja" %}
{% set title="Page Not Found" %}

{% block content %}
<section class="blurb blurb--sm">
  <div class="t-blurb--md t--black">Error</div>
  <div class="t--black">
    The page you're looking for is unavailable. Sorry for the inconvenience.
    Please try one of the links below instead.
  </div>
</section>
{% endblock %}


