@import "bourbon/bourbon";
@import "neat/neat";

@import "globals";

.landing .top_banner, .landing .bottom_banner {
  @include span-columns(12);
  img {
    width: 100%;
    max-height: 350px;
  }
  .text-block {
    @include span-columns(8);
    @include shift(2);
    text-align: center;
  }
}

.showcase--main.float-above {
  margin-top: -175;
  padding-bottom: 175;
}
