/*
 * image-block
 *
 * Styling for the custom sir-trevor content image blocks.
 * Note: The html for these classes is controlled in sir-trevor.
 */

.image-block {
  clear: left;
  width: 100%;

  img {
    width: 100%;
  }
}
