/*
 * text-block
 *
 * Styling for the custom sir-trevor content text blocks.
 * Note: The html for these classes is controlled in sir-trevor.
 */

.text-block {
  clear: left;
  margin-top: 1em;
  margin-bottom: 1em;
}

h1 + .text-block, h2 + .text-block, h3 + .text-block, h4 + .text-block {
  margin-top: 0;
}
