/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

#project > * {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  #project > *:last-child {
    margin-right: 0; }
#project img {
  max-height: 100%;
  max-width: 100%; }
#project .featured-image {
  text-align: center;
  max-height: 200px; }
#project .donation-stats {
  max-height: 150px; }
#project .volunteer-image {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  text-align: center; }
  #project .volunteer-image:last-child {
    margin-right: 0; }
#project .volunteer-info {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
  margin-left: 34.11922%;
  margin-right: 0; }
  #project .volunteer-info:last-child {
    margin-right: 0; }
  #project .volunteer-info > * {
    float: left;
    display: block;
    margin-right: 4.11092%;
    width: 100%; }
    #project .volunteer-info > *:last-child {
      margin-right: 0; }
#project .funded-chart {
  margin-right: 0;
  position: relative;
  border: 1px solid #000; }
#project .funded-amount-bar {
  background-color: #aaa;
  width: 100%; }
#project .funded-amount-text {
  position: absolute;
  top: 0;
  left: 1em; }
#project .donate-container {
  text-align: right; }
#project .volunteer-image + .volunteer-info {
  margin-left: 0%; }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.donate-form form {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .donate-form form:after {
    content: "";
    display: table;
    clear: both; }
  .donate-form form > div {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .donate-form form > div:last-child {
      margin-right: 0; }
  .donate-form form div > label {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .donate-form form div > label:last-child {
      margin-right: 0; }
  .donate-form form div > .value {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    .donate-form form div > .value:last-child {
      margin-right: 0; }
  .donate-form form div > .checkbox {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%; }
    .donate-form form div > .checkbox:last-child {
      margin-right: 0; }
  .donate-form form .checkbox + label {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 91.4702%; }
    .donate-form form .checkbox + label:last-child {
      margin-right: 0; }
  .donate-form form label.required::after {
    content: ' *'; }
  .donate-form form .dedication_details {
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 91.4702%;
    border: solid 1px #000;
    padding: 0.5em;
    display: none;
    /* Initially hidden */ }
    .donate-form form .dedication_details:last-child {
      margin-right: 0; }
    .donate-form form .dedication_details > div, .donate-form form .dedication_details p {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .donate-form form .dedication_details > div:last-child, .donate-form form .dedication_details p:last-child {
        margin-right: 0; }
    .donate-form form .dedication_details #id_dedication_consent {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%; }
      .donate-form form .dedication_details #id_dedication_consent:last-child {
        margin-right: 0; }
  .donate-form form .shown-with-organization {
    display: none;
    /* Initially hidden */ }
  .donate-form form ul {
    margin-top: 0;
    margin-bottom: 0; }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.landing .issues {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .landing .issues:last-child {
    margin-right: 0; }
  .landing .issues div {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    text-align: center;
    padding-top: 1em; }
    .landing .issues div:last-child {
      margin-right: 0; }
    .landing .issues div:nth-child(4n) {
      margin-right: 0; }
    .landing .issues div:nth-child(4n+1) {
      clear: left; }
    .landing .issues div img {
      width: 80px;
      height: 80px; }
    .landing .issues div span {
      display: block; }
.landing .featured-project {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  position: relative;
  padding-top: 1em; }
  .landing .featured-project:last-child {
    margin-right: 0; }
  .landing .featured-project img {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 100%;
    max-height: 200px; }
    .landing .featured-project img:last-child {
      margin-right: 0; }
  .landing .featured-project div {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 100%;
    position: absolute;
    text-align: center; }
    .landing .featured-project div:last-child {
      margin-right: 0; }
.landing .project-tagline {
  top: 1em; }
.landing .project-call {
  bottom: 2em; }
.landing .more-projects {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .landing .more-projects:last-child {
    margin-right: 0; }
.landing .search-space {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  display: none;
  /* Defaults hidden for non-JS users */ }
  .landing .search-space:last-child {
    margin-right: 0; }
  .landing .search-space input {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    height: 2em;
    font-size: large;
    padding: 1em 4em; }
    .landing .search-space input:last-child {
      margin-right: 0; }
.landing .project-row {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  border-bottom: solid 1px #979797;
  padding: 1em 0; }
  .landing .project-row:last-child {
    margin-right: 0; }
.landing .project-name {
  margin-left: 17.05961%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  font-size: larger;
  font-weight: bold; }
  .landing .project-name:last-child {
    margin-right: 0; }
.landing .project-country {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  margin-right: 0;
  font-size: larger; }
  .landing .project-country:last-child {
    margin-right: 0; }
.landing .project-expanded {
  margin-left: 17.05961%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-right: 0;
  display: none;
  /* Initially hidden */ }
  .landing .project-expanded:last-child {
    margin-right: 0; }
  .landing .project-expanded > * {
    padding-top: .5em; }

/*
 * Buttons styles.
 */
/*
 * Global variables
 */
/*
 * Color
 */
/*
 * Grid
 */
/*
 * Breakpoint
 */
/*
 * Z-Index
 */
/*
 * Type styles.
 */
/*
 * Global variables
 */
/*
 * Color
 */
/*
 * Grid
 */
/*
 * Breakpoint
 */
/*
 * Z-Index
 */
body {
  color: #A12122; }

.t-heading {
  font-family: "museo-sans",sans-serif;
  font-size: .8em;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase; }

.t-heading--white {
  color: #fff; }

.t-heading_xlg {
  font-family: "museo-slab",sans-serif;
  font-size: 3.8em;
  font-style: normal;
  font-weight: 100;
  line-height: 1em;
  text-transform: uppercase; }

.t-heading_lg {
  font-family: "museo-slab",sans-serif;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 100;
  line-height: 1.8em; }

h1 {
  font-family: "museo-slab",sans-serif;
  font-size: 3.8em;
  font-style: normal;
  font-weight: 100;
  line-height: 1em;
  text-transform: uppercase; }

h2 {
  font-family: "museo-slab",sans-serif;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 100;
  line-height: 1.8em; }

.t-heading_md {
  font-family: "museo-sans",sans-serif;
  font-size: 1.1em;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase; }

.button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "museo-sans",sans-serif;
  font-size: 1.1em;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  border: 0;
  display: inline-block;
  padding: .6em 1.4em;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  white-space: nowrap;
  zoom: 1; }

.button--is_disabled {
  cursor: not-allowed;
  opacity: .4; }

.button--is_active, .button:active {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15) inset, 0 -3px 6px 1px rgba(0, 0, 0, 0.1) inset; }

.button--is_hovered, .button:hover {
  position: relative; }
  .button--is_hovered:before, .button:hover:before {
    background-color: rgba(255, 255, 255, 0.12);
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    top: 0; }

.button--primary {
  background-color: #A12122;
  color: #fff; }

.button--secondary {
  background-color: #fff;
  color: #C94112; }

/*
 * All base rules concerning elements
 */
html, body {
  margin: 0;
  overflow-x: hidden; }

/*
 * Type styles.
 */
/*
 * Global variables
 */
/*
 * Color
 */
/*
 * Grid
 */
/*
 * Breakpoint
 */
/*
 * Z-Index
 */
body {
  color: #A12122; }

.t-heading {
  font-family: "museo-sans",sans-serif;
  font-size: .8em;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase; }

.t-heading--white {
  color: #fff; }

.t-heading_xlg {
  font-family: "museo-slab",sans-serif;
  font-size: 3.8em;
  font-style: normal;
  font-weight: 100;
  line-height: 1em;
  text-transform: uppercase; }

.t-heading_lg {
  font-family: "museo-slab",sans-serif;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 100;
  line-height: 1.8em; }

h1 {
  font-family: "museo-slab",sans-serif;
  font-size: 3.8em;
  font-style: normal;
  font-weight: 100;
  line-height: 1em;
  text-transform: uppercase; }

h2 {
  font-family: "museo-slab",sans-serif;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 100;
  line-height: 1.8em; }

.t-heading_md {
  font-family: "museo-sans",sans-serif;
  font-size: 1.1em;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase; }

/*
 * Inline text module
 *
 * The inline text module helps style text inline. It has separate styles for
 * centered inline text.
 */
/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/*
 * Global variables
 */
/*
 * Color
 */
/*
 * Grid
 */
/*
 * Breakpoint
 */
/*
 * Z-Index
 */
.inline_text {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%; }
  .inline_text:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .inline_text {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 100%;
      text-align: center; }
      .inline_text:last-child {
        margin-right: 0; } }

.inline_text--centered {
  text-align: center; }
  .inline_text--centered .inline_text__ele {
    display: inline-block;
    float: none; }

/*
 * Main nav module.
 *
 * The main nav is a horizontal row of links, which collapses to a centered
 * vertical row for smaller screens.
 */
/*
 * Type styles.
 */
/*
 * Global variables
 */
/*
 * Color
 */
/*
 * Grid
 */
/*
 * Breakpoint
 */
/*
 * Z-Index
 */
body {
  color: #A12122; }

.t-heading {
  font-family: "museo-sans",sans-serif;
  font-size: .8em;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase; }

.t-heading--white {
  color: #fff; }

.t-heading_xlg {
  font-family: "museo-slab",sans-serif;
  font-size: 3.8em;
  font-style: normal;
  font-weight: 100;
  line-height: 1em;
  text-transform: uppercase; }

.t-heading_lg {
  font-family: "museo-slab",sans-serif;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 100;
  line-height: 1.8em; }

h1 {
  font-family: "museo-slab",sans-serif;
  font-size: 3.8em;
  font-style: normal;
  font-weight: 100;
  line-height: 1em;
  text-transform: uppercase; }

h2 {
  font-family: "museo-slab",sans-serif;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 100;
  line-height: 1.8em; }

.t-heading_md {
  font-family: "museo-sans",sans-serif;
  font-size: 1.1em;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase; }

/*
 * Inline text module
 *
 * The inline text module helps style text inline. It has separate styles for
 * centered inline text.
 */
/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/*
 * Global variables
 */
/*
 * Color
 */
/*
 * Grid
 */
/*
 * Breakpoint
 */
/*
 * Z-Index
 */
.inline_text {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%; }
  .inline_text:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .inline_text {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 100%;
      text-align: center; }
      .inline_text:last-child {
        margin-right: 0; } }

.inline_text--centered {
  text-align: center; }
  .inline_text--centered .inline_text__ele {
    display: inline-block;
    float: none; }

/*
 * Global variables
 */
/*
 * Color
 */
/*
 * Grid
 */
/*
 * Breakpoint
 */
/*
 * Z-Index
 */
/*
 * Contains all sass utilities such as floats, clears, etc.
 */
/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/*
 * Global variables
 */
/*
 * Color
 */
/*
 * Grid
 */
/*
 * Breakpoint
 */
/*
 * Z-Index
 */
.u-unmarked_list {
  padding: 0; }
  .u-unmarked_list li {
    list-style: none; }

.u-clearfix:after:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.u-visually_hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important; }

.main_nav {
  padding: 0;
  text-align: center;
  width: 100%; }
  .main_nav li {
    list-style: none; }
  @media screen and (max-width: 480px) {
    .main_nav {
      position: absolute !important;
      top: -9999px !important;
      left: -9999px !important; } }
  .main_nav .main_nav__link {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    display: inline-block;
    float: none; }
    .main_nav .main_nav__link:last-child {
      margin-right: 0; }
    .main_nav .main_nav__link a {
      font-family: "museo-sans",sans-serif;
      font-size: .8em;
      font-style: normal;
      font-weight: 300;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff; }

/*
 * Full background image
 *
 * To use, set the class and apply a background image url and height with
 * inline css.
 */
/*
 * Global variables
 */
/*
 * Color
 */
/*
 * Grid
 */
/*
 * Breakpoint
 */
/*
 * Z-Index
 */
.full_bg {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -100; }

/*
 * A full width banner with content that sits in its center.
 */
/*
 * Global variables
 */
/*
 * Color
 */
/*
 * Grid
 */
/*
 * Breakpoint
 */
/*
 * Z-Index
 */
/*
 * Contains all sass utilities such as floats, clears, etc.
 */
/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/*
 * Global variables
 */
/*
 * Color
 */
/*
 * Grid
 */
/*
 * Breakpoint
 */
/*
 * Z-Index
 */
.u-unmarked_list {
  padding: 0; }
  .u-unmarked_list li {
    list-style: none; }

.u-clearfix:after:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.u-visually_hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important; }

.full_banner {
  margin: 0 -500%;
  padding: 0.5em 500%; }
  .full_banner:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

.full_banner--support_color {
  background-color: rgba(201, 65, 18, 0.75); }

/*
 * A visual separator at the start of a section. Allows space for a title header
 * for the section.
 */
/*
 * Global variables
 */
/*
 * Color
 */
/*
 * Grid
 */
/*
 * Breakpoint
 */
/*
 * Z-Index
 */
.section_starter {
  background-color: #E5E1D4;
  border-radius: 0 0 29em 29em;
  height: 14.5em;
  margin: 0 auto 2em;
  padding: 2em 0 0 0;
  width: 29em; }

/*
 * A large block within the wrapper with centered elements to showcase some
 * content very visually.
 */
.showcase {
  text-align: center; }

.showcase--main {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .showcase--main:last-child {
    margin-right: 0; }

.showcase--shift_sm {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%; }
  .showcase--shift_sm:last-child {
    margin-right: 0; }

.showcase--neutral {
  background-color: #F2EFE8; }

.wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .wrapper:after {
    content: "";
    display: table;
    clear: both; }
  .wrapper h2 a.back {
    position: absolute;
    left: 1em; }

/*# sourceMappingURL=donation.css.map */
