/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.landing h2 {
  clear: both; }
.landing .more-projects {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .landing .more-projects:last-child {
    margin-right: 0; }
.landing .search-space {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  display: none;
  /* Defaults hidden for non-JS users */ }
  .landing .search-space:last-child {
    margin-right: 0; }
  .landing .search-space input {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    height: 2em;
    font-size: large;
    padding: 1em 4em; }
    .landing .search-space input:last-child {
      margin-right: 0; }
.landing .project-row {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  border-bottom: solid 1px #979797;
  padding: 1em 0; }
  .landing .project-row:last-child {
    margin-right: 0; }
.landing .project-name {
  margin-left: 17.05961%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  font-size: larger;
  font-weight: bold; }
  .landing .project-name:last-child {
    margin-right: 0; }
.landing .project-country {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  font-size: larger; }
  .landing .project-country:last-child {
    margin-right: 0; }
  .landing .project-country:last-child {
    margin-right: 0; }
.landing .project-expanded {
  margin-left: 17.05961%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  display: none;
  /* Initially hidden */ }
  .landing .project-expanded:last-child {
    margin-right: 0; }
  .landing .project-expanded:last-child {
    margin-right: 0; }
  .landing .project-expanded > * {
    padding-top: 0.5em; }
